.bt-page {
  &--content {
    &:after {
      content: "";
      display: block;
    }
  }
}
.bt-main-content-ss {
  padding: 105px 0;
  @media (max-width: $break-sm) {
    padding: 75px 0;
  }
}
.bt-sidebar {
  font-size: 16px;
}
.bt-main-post-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .bt-main-post-col {
    width: calc(66.66% - 15px);
  }
  .bt-sidebar-col {
    width: calc(33.33% - 15px);
  }
  @media (max-width: $break-md) {
    flex-direction: column;
    .bt-main-post-col,
    .bt-sidebar-col {
      width: 100%;
    }
  }
}
.bt-list-post {
  display: flex;
  flex-direction: column;
  gap: 52px;
  .bt-post {
    &.sticky {
      background: #f5f5f5;
      padding: 25px 30px;
      border-radius: 15px;
    }
    &--featured-wrap {
      position: relative;
    }
    &--category {
      position: absolute;
      top: 16px;
      left: 18px;
      display: flex;
      grid-gap: 10px;
      flex-wrap: wrap;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 6px 16px;
      }
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      .bt-cover-image {
        padding-bottom: calc(0.55 * 100%);
      }
      a {
        display: block;
        line-height: 0;
      }
      img {
        margin: 0;
      }
    }
    &--infor {
      background: #f7f4ef;
      margin: 0 60px;
      margin-top: -78px;
      position: relative;
      padding: 61px 40px 34px;
      margin-bottom: 30px;
      @media (max-width: 640px) {
        padding: 45px 20px 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
      }
    }
    &--publish {
      background: $color-accent;
      position: absolute;
      left: 0;
      top: -27px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 16px 40px;
      display: flex;
      align-items: center;
      grid-gap: 9px;
      svg {
        path {
          fill: #fff;
        }
      }
    }
    &--title {
      word-break: break-word;
      margin: 0 0 20px;
      padding-bottom: 24px;
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 33px;
      font-weight: 600;
      line-height: 33px;
      text-transform: capitalize;
      border-bottom: 1px solid #d9d9d9;
      @media (max-width: 640px) {
        line-height: 1.1;
      }
      a {
        display: inline-block;
      }
    }
    &--meta-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 15px;
    }
    &--meta {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      .bt-meta {
        font-size: 16px;
        color: $color-text;
        font-weight: 500;
        text-transform: capitalize;
        &:not(:last-child) {
          padding-right: 25px;
          margin-right: 25px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 16px;
            background-color: #d9d9d9;
            display: block;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
        svg {
          fill: $color-accent;
          height: 20px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
    &-share {
      margin: 0;
    }
  }
  @media (max-width: $break-xs) {
    .bt-post {
      &.sticky {
        padding: 25px 15px;
      }
      &--infor {
        margin-top: -50px;
      }
      &--publish {
        font-size: 14px;
        padding: 12px 20px;
        top: -22px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      &--title {
        font-size: 22px;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      &--meta .bt-meta {
        font-size: 14px;
        &:not(:last-child) {
          padding-right: 10px;
          margin-right: 10px;
          position: relative;
        }
      }
    }
  }
}

.bt-pagination {
  @extend .__bt-pagination-style;
}

.bt-main-post {
  .bt-post {
    &--featured-wrap {
      position: relative;
    }
    &--category {
      position: absolute;
      top: 16px;
      left: 18px;
      display: flex;
      grid-gap: 10px;
      flex-wrap: wrap;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 6px 16px;
      }
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      .bt-cover-image {
        padding-bottom: calc(0.55 * 100%);
      }
      a {
        display: block;
        line-height: 0;
      }
      img {
        margin: 0;
      }
    }
    &--infor {
      background: #f7f4ef;
      margin: 0 60px;
      margin-top: -78px;
      position: relative;
      padding: 61px 40px 34px;
      margin-bottom: 30px;
      @media (max-width: 640px) {
        padding: 45px 20px 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
      }
    }
    &--publish {
      background: $color-accent;
      position: absolute;
      left: 0;
      top: -27px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 16px 40px;
      display: flex;
      align-items: center;
      grid-gap: 9px;
      svg {
        path {
          fill: #fff;
        }
      }
    }
    &--title {
      word-break: break-word;
      margin: 0 0 20px;
      padding-bottom: 24px;
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 33px;
      font-weight: 600;
      line-height: 33px;
      text-transform: capitalize;
      border-bottom: 1px solid #d9d9d9;
      @media (max-width: 640px) {
        line-height: 1.1;
      }
      a {
        display: inline-block;
      }
    }
    &--meta-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 15px;
    }
    &--meta {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      .bt-meta {
        font-size: 16px;
        color: $color-text;
        font-weight: 500;
        text-transform: capitalize;
        &:not(:last-child) {
          padding-right: 25px;
          margin-right: 25px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 16px;
            background-color: #d9d9d9;
            display: block;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
        svg {
          fill: $color-accent;
          height: 20px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
    &-share {
      margin: 0;
    }

    &--content {
      @extend .__bt-format-post-content;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      a {
        text-decoration: underline;
      }
      .page-links {
        margin-top: 40px;
      }
    }
  }

  @media (max-width: $break-xs) {
    .bt-post {
      &--infor {
        margin-top: -50px;
      }
      &--publish {
        font-size: 14px;
        padding: 12px 20px;
        top: -22px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      &--title {
        font-size: 22px;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      &--meta .bt-meta {
        font-size: 14px;
        &:not(:last-child) {
          padding-right: 10px;
          margin-right: 10px;
          position: relative;
        }
      }
    }
  }
}

.bt-post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  svg {
    display: inline-block;
    margin-right: 5px;
  }
  a {
    display: inline-block;
    font-family: $primary-font;
    color: $color-text;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    &:hover {
      color:  $color-accent;
    }
  }
}

.bt-post-share {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 40px;
  align-items: center;
  span {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 2px 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 12px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 12px;
    align-items: center;
  }
  a {
    color: $color-primary;
    display: flex;
    &:hover {
      color: $color-accent;
    }
    svg {
      fill: currentColor;
    }
  }
}

.bt-post-author {
  display: flex;
  background: #F7F4EF;
  margin-top: 52px;
  padding: 0 100px 42px;
  flex-direction: column;
  align-items: center;
  &--avatar {
    width: 100px;
    line-height: 0;
    margin-top: -57px;
    margin-bottom: 36px;
    img {
      width: 100%;
    }
  }
  &--info {
    width: calc(100% - 120px);
  }
  .bt-post-author--name {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 15px;
    margin: 0 0 12px;
    justify-content: center;
    color: $color-primary;
    text-align: center;
    font-family: $secondary-font;
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    flex-direction: column;
    .bt-label {
      display: inline-block;
      font-family: $text-font;
      font-size: 16px;
      font-weight: 500;
      color: $color-accent;
      
    }
  }
  &--desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  &--socials {
    @extend .__bt-socials-style;
    margin-top: 24px;
  }
  @media (max-width: $break-xs) {
    padding: 30px 15px;
    &--avatar {
      width: 80px;
    }
    &--info {
      width: calc(100% - 100px);
    }
    &--name {
      font-size: 20px;
    }
    &--desc {
      font-size: 16px;
    }
  }
}

.__bt-post-style-default {
  .bt-post {
    &--inner {
      position: relative;
      &:hover {
        .bt-post {
          &--featured {
            .bt-cover-image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    &--featured {
      .bt-cover-image {
        padding: 0;
        min-height: 279px;

        img {
          transform: scale(1);
          transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
        }
      }
    }

    &--content {
      background: #f7f4ef;
      padding: 0 50px 53px;
      @media (max-width: 1300px) and (min-width: $break-tl) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @media (max-width: 880px) and (min-width: $break-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @media (max-width: $break-xs) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &--category {
      margin-top: -16px;
      z-index: 9;
      position: relative;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 7px 15px;
      }
    }

    &--title {
      margin: 18px 0 0 0;
      line-height: 1;
      a {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px;
        text-transform: capitalize;
        &:hover {
          color: $color-accent;
        }
      }
    }

    &--info {
      display: flex;
      border: 5px solid #f7f4ef;
      background: #fff;
      margin: 0 43px;
      margin-top: -31px;
      padding: 9px 23px;
      align-items: center;
      position: relative;
      @media (max-width: 1300px) and (min-width: $break-tl) {
        margin-left: 15px;
        margin-right: 15px;
      }
      @media (max-width: $break-lg) and (min-width: $break-tl) {
        padding: 9px;
        .bt-post--publish {
          padding-right: 10px;
        }
        .bt-post-author {
          padding-left: 10px;
        }
      }
      @media (max-width: 880px) and (min-width: $break-sm) {
        margin-left: 15px;
        margin-right: 15px;
      }
      @media (max-width: $break-xs) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    &--publish,
    &-author {
      svg {
        width: 100%;
        max-width: 20px;
        height: auto;
      }
    }

    &--publish {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-right: 22px;

      @media (max-width: $break-xs) {
        padding-right: 10px;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        display: inline-block;
      }

      svg {
        path {
          fill: $color-accent;
        }
      }
    }

    &-author {
      padding: 0 0 0 17px;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      gap: 4px;
      align-items: center;
      border-left: 1px solid #d9d9d9;

      @media (max-width: $break-xs) {
        padding-left: 10px;
      }

      svg {
        path {
          stroke: $color-accent;
        }
      }

      &--name {
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        display: inline-block;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    &--button {
      width: 100%;
      border-top: 1px solid #d9d9d9;
      padding-top: 17px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &:hover {
          svg {
            transform: translateX(5px);
          }
        }

        span {
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          color: $color-accent;
        }

        svg {
          transition: $transition;
          path {
            stroke: $color-accent;
          }
        }
      }
    }
  }
}

.__bt-post-style-1 {
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      padding-right: 40px;
      @media (max-width: $break-lg) and (min-width: $break-tl) {
        padding-right: 20px;
      }
      @media (max-width: $break-xs) {
        padding-right: 20px;
      }
      a {
        display: block;
        line-height: 0;
      }
      .bt-cover-image {
        border-radius: 0;
      }
    }

    &--category {
      position: absolute;
      top: 16px;
      left: 18px;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 7px 15px;
      }
    }
    &--content {
      position: relative;
      padding: 46px 40px 29px 40px;
      background: #f7f4ef;
      margin-left: 60px;
      margin-top: -70px;
      @media (max-width: $break-lg) and (min-width: $break-tl) {
        margin-left: 20px;
      }
      @media (max-width: $break-xs) {
        margin-left: 20px;
        padding: 46px 25px 25px 25px;
      }
    }
    &--publish {
      background: #e96ca7;
      position: absolute;
      left: 0;
      top: -27px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 16px 40px;
      display: flex;
      align-items: center;
      grid-gap: 9px;
      path {
        fill: #fff;
      }
    }

    &--title {
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 26px;
      font-weight: 500;
      line-height: 33px; /* 126.923% */
      text-transform: capitalize;
      word-break: break-word;
      margin-bottom: 14px;
      a {
        @extend .__bt-max-line-ellipsis;
      }
    }
    &-author {
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      gap: 4px;
      align-items: center;
      padding: 0;
      background: transparent;
      svg {
        path {
          stroke: $color-accent;
        }
      }

      &--name {
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        display: inline-block;
        line-height: normal;
        text-transform: capitalize;
      }
    }
  }
}

.__bt-post-style-2 {
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      margin-bottom: 24px;
      a {
        display: block;
        line-height: 0;
      }
      .bt-cover-image {
        border-radius: 15px;
      }
    }
    &--publish {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      min-width: 220px;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      color: $color-accent;
      padding: 4px 20px 24px 10px;
      &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -8px;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: -1;
        border-radius: 0 0 15px 0;
        -webkit-transform: skewX(-20deg) rotate(-2deg);
        transform: skewX(-20deg) rotate(-2deg);
      }
    }
    &--title {
      font-size: 24px;
      word-break: break-word;
      margin: 0 0 16px;
      a {
        @extend .__bt-max-line-ellipsis;
      }
    }
    &--meta {
      display: flex;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 150%;
      color: $color-text;
      .bt-post-cat {
        &:after {
          content: "-";
          display: inline-block;
          margin: 0 12px;
        }
      }
    }
    @media (max-width: $break-xs) {
      &--publish {
        font-size: 14px;
        min-width: 180px;
        padding: 4px 15px 16px 10px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      &--title {
        font-size: 22px;
      }
      &--meta {
        font-size: 14px;
      }
    }
  }
}

.bt-related-posts {
  margin-top: 52px;
  &--heading {
    @extend .__bt-block-heading-style;
    margin-bottom: 30px;
  }
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @extend .__bt-post-style-default;
    .bt-post {
      width: calc(50% - 15px);
      @media (max-width: $break-sm) {
        width: 100%;
      }
    }
  }
}

.bt-post-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;
  margin-top: 52px;
  &--item {
    position: relative;
    width: calc(50% - 20px);
    &.bt-prev {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -30px;
        width: 1px;
        height: 100%;
        background: #c7c7c7;
      }
    }
    &.bt-next {
      text-align: right;
      margin-left: 50%;
    }
    &.bt-prev + &.bt-next {
      margin-left: 0;
    }
    span {
      display: block;
      font-family: $primary-font;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 24px;
      word-break: break-word;
      margin: 0;
    }
  }
  @media (max-width: $break-sm) {
    &--item {
      span {
        font-size: 13px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
  @media (max-width: $break-xs) {
    &--item {
      width: 100%;
      &.bt-prev:before {
        display: none;
      }
      &.bt-next {
        text-align: left;
        margin-left: 0;
      }
    }
  }
}
