.bt-block-recent-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  .bt-post {
    a {
      display: flex;
      gap: 15px;
      color: inherit;
    }
    .bt-cover-image {
      padding-bottom: 100%;
    }
    &--thumbnail {
      width: 100px;
    }
    &--infor {
      width: calc(100% - 115px);
    }
    &--date {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      line-height: 150%;
      color: $color-accent;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    &--title {
      @extend .__bt-max-line-ellipsis;
      word-break: break-word;
      margin: 0 0 11px;
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 500;
    }
    &--author {
      font-size: 16px;
      line-height: 150%;
      color: $color-text;
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }
}

.bt-block-contact-information {

  @extend .__bt-contact-information-style;
}

.bt-block-instagram-posts {
  padding: 0;
  @extend .__instagram-posts-style;
}
