.__bt-post-car-default {
  background: #FFFFFF;
  overflow: hidden;
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
      background: #FFFFFF;
      border: 1px solid #DADADA;
      border-radius: 20px;
    }
    &--thumbnail {
      position: relative;
    }
    &--icon-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      gap: 5px;
      .bt-icon-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        border-radius: 100px;
        transition: all .3s;
        &.added {
          background: $color-accent;
          svg {
            fill: #FFFFFF;
          }
        }
        svg {
          fill: $color-accent;
        }
      }
    }
    &--infor {
      position: relative;
    }
    &--body {
      position: absolute;
      top: 0;
      left: -1px;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: #FFFFFF;
      background: $color-accent;
      padding: 10px 30px;
      border-radius: 0 10px 10px 0;
      transform: translateY(-50%);
    }
    &--info-inner {
      padding: 40px 30px 24px;
    }
    &--price {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      color: $color-accent;
      margin-bottom: 8px;
      a {
        display: inline-block;
        font-size: 16px;
        line-height: 150%;
        color: inherit;
        background: #F1F1F1;
        padding: 8px 15px;
        border-radius: 10px;
      }
    }
    &--title {
      @extend .__bt-max-line-ellipsis;
      min-height: 58px;
      font-size: 22px;
      margin: 0;
    }
    &--meta {
      @extend .__scrollbar_style;
      position: relative;
      height: 69px;
      overflow-x: auto;
      overflow-y: hidden;
      border-top: 1px solid #DADADA;
    }
    &--meta-row {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      white-space: nowrap;
    }
    &--meta-col {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 12px 16px;
      &:not(:last-child) {
        border-right: 1px solid #DADADA;
      }
    }
    &--meta-item {
      position: relative;
      min-width: 86px;
      padding-left: 30px;
      svg {
        position: absolute;
        top: 4px;
        left: 0;
        width: 22px;
        height: auto;
        color: $color-accent;
      }
      span {
        display: block;
      }
      .bt-label {
        font-size: 14px;
        line-height: 150%;
        color: #848484;
      }
      .bt-value {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
      }
    }
    &--readmore a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 20px;
      color: $color-accent;
      background: #F1F1F1;
      padding: 18px 20px;
      svg path {
        stroke: $color-accent;
        transition: all .3s;
      }
      &:hover {
        color: #FFFFFF;
        background: $color-accent;
        svg path {
          stroke: #FFFFFF;
        }
      }
    }
  }
}

.__bt-post-car-style-1 {
  background: #FFFFFF;
  overflow: hidden;
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
      background: #FFFFFF;
      border: 1px solid #DADADA;
      border-radius: 20px;
    }
    &--thumbnail {
      position: relative;
      .bt-cover-image {
        min-height: 400px;
        padding-bottom: 100%;
      }
    }
    &--infor {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: rgba(17, 17, 17, 0.5);
    }
    &--icon-btn {
      display: flex;
      gap: 5px;
      justify-content: flex-end;
      padding: 20px;
      .bt-icon-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        border-radius: 100px;
        transition: all .3s;
        &.added {
          background: $color-accent;
          svg {
            fill: #FFFFFF;
          }
        }
        svg {
          fill: $color-accent;
        }
      }
    }
    &--infor-inner {
      padding: 30px;
    }

    &--title {
      @extend .__bt-max-line-ellipsis;
      min-height: 58px;
      font-size: 22px;
      color: #FFFFFF;
      margin: 0 0 20px;
    }
    &--body-price {
      display: inline-flex;
      align-items: center;
      background: $color-accent;
      margin-left: -30px;
      padding-left: 30px;
      overflow: hidden;
      border-radius: 0 10px 10px 0;
    }
    &--body {
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: #FFFFFF;
      padding: 10px 25px 10px 0;
    }
    &--price {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      color: $color-accent;
      background: #FFFFFF;
      padding: 10px 25px;
      a {
        display: inline-block;
        font-size: 16px;
        line-height: 150%;
        color: inherit;
        background: #F1F1F1;
        padding: 8px 15px;
        border-radius: 10px;
      }
    }
    &--meta {
      @extend .__scrollbar_style;
      overflow-x: auto;
      margin: 25px 0 21px;
      padding-bottom: 4px;
    }
    &--meta-row {
      display: flex;
      white-space: nowrap;
      margin:0 -24px;
    }
    &--meta-col {
      position: relative;
      display: flex;
      width: 100%;
      padding: 0 24px;
      &:not(:last-child):after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: calc(100% - 32px);
        background: #AEAEAE;
      }
    }
    &--meta-item {
      display: flex;
      flex-direction: column;
      svg {
        width: 22px;
        height: auto;
        color: $color-accent;
        margin-bottom: 10px;
      }
      .bt-label {
        font-size: 14px;
        line-height: 150%;
        color: #AFAFAF;
      }
      .bt-value {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        color: #FFFFFF;
      }
    }
    &--readmore a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 20px;
      color: $color-accent;
      background: #F1F1F1;
      padding: 18px 20px;
      svg path {
        stroke: $color-accent;
        transition: all .3s;
      }
      &:hover {
        color: #FFFFFF;
        background: $color-accent;
        svg path {
          stroke: #FFFFFF;
        }
      }
    }
  }
}

.__bt-post-car-style-2 {
  background: #FFFFFF;
  overflow: hidden;
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
      background: #FFFFFF;
      border: 1px solid #DADADA;
      border-radius: 20px;
    }
    &--thumbnail {
      position: relative;
    }
    &--icon-btn {
      position: absolute;
      bottom: -22px;
      right: 20px;
      display: flex;
      gap: 5px;
      .bt-icon-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        border-radius: 100px;
        transition: all .3s;
        &.added {
          background: $color-accent;
          svg {
            fill: #FFFFFF;
          }
        }
        svg {
          fill: $color-accent;
        }
      }
    }
    &--infor {
      position: relative;
    }
    &--body {
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: $color-accent;
      margin-bottom: 4px;
    }
    &--info-inner {
      padding: 30px 30px 24px;
    }
    &--price-rating {
      display: flex;
      display: flex;
      align-items: center;
      gap: 4px 24px;
      margin-bottom: 20px;
    }
    &--avg-rating {
      @extend .__avg-rating-style;
    }
    &--price {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      color: $color-accent;
      a {
        display: inline-block;
        font-size: 16px;
        line-height: 150%;
        color: inherit;
        background: #F1F1F1;
        padding: 8px 15px;
        border-radius: 10px;
      }
    }
    &--title {
      @extend .__bt-max-line-ellipsis;
      min-height: 58px;
      font-size: 22px;
      margin: 0;
    }
    &--meta {
      @extend .__scrollbar_style;
      position: relative;
      height: 52px;
      overflow-x: auto;
      padding-top: 20px;
      border-top: 1px solid #DADADA;
    }
    &--meta-row {
      display: flex;
      white-space: nowrap;
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 100%;
    }
    &--meta-col {
      display: flex;
      &:not(:last-child) {
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid #DADADA;
      }
    }
    &--meta-item {
      position: relative;
      padding-left: 30px;
      svg {
        position: absolute;
        top: 1px;
        left: 0;
        width: 22px;
        height: auto;
        color: $color-accent;
      }
      span {
        display: block;
      }
      .bt-label {
        display: none;
      }
      .bt-value {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
      }
    }
    &--readmore a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 20px;
      color: $color-accent;
      background: #F1F1F1;
      padding: 18px 20px;
      svg path {
        stroke: $color-accent;
        transition: all .3s;
      }
      &:hover {
        color: #FFFFFF;
        background: $color-accent;
        svg path {
          stroke: #FFFFFF;
        }
      }
    }
  }
}

.bt-car-topbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid #D9D9D9;
  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .bt-car-results-block {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  .bt-car-sort-block {
    display: flex;
    align-items: center;
    gap: 10px;
    .bt-sort-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }
    .bt-sort-field {
      min-width: 220px;
    }
    .select2-container {
      min-height: 48px;
      .select2-selection--single {
        height: 48px;
        background-color: #F1F1F1;
        border-color: #F1F1F1;
      }
      &--default .select2-selection--single {
        .select2-selection__rendered {
          line-height: 48px;
        }
        .select2-selection__arrow {
          height: 46px;
        }
      }
    }
  }
  .bt-car-view-block {
    display: flex;
    @media(max-width: $break-sm) {
      display: none;
    }
    .bt-view-type {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      background: #FFFFFF;
      &.bt-view-grid {
        border-top: 1px solid #DADADA;
        border-left: 1px solid #DADADA;
        border-bottom: 1px solid #DADADA;
        border-radius: 10px 0 0 10px;
      }
      &.bt-view-list {
        border-top: 1px solid #DADADA;
        border-right: 1px solid #DADADA;
        border-bottom: 1px solid #DADADA;
        border-radius: 0 10px 10px 0;
      }
      &.active {
        background: $color-accent;
        border-color: $color-accent;
        svg path {
          stroke: #FFFFFF;
        }
      }
      svg {
        width: 28px;
        height: auto;
      }
    }
  }
}

.bt-filter-scroll-pos {
  transform: translateY(-30px);
}

.bt-car-sidebar {
  @extend .__scrollbar_style;
  .bt-car-filter-form {
    background: #F1F1F1;
    padding: 30px;
    border-radius: 20px;
  }
  .bt-car-filter-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .bt-form-field {
    background: #FFFFFF;
    border-radius: 10px;
    &.bt-field-type-search {
      position: relative;
      display: flex;
      input {
        width: 100%;
        border-color: #FFFFFF;
      }
      a {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 47px;
        height: 47px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: $color-accent;
        border-radius: 8px;
      }
      svg {
        width: 20px;
        height: auto;
      }
    }
    &.bt-field-type-slider {
      padding: 20px 24px;
      .bt-field-slider {
        height: 5px;
        background: #FFFFFF;
        margin: 15px 10px;
        border-color: #D9D9D9;
        box-shadow: none;
        .noUi-connect {
          background: $color-accent;
        }
        .noUi-handle {
          top: -8px;
          right: -10px;
          width: 20px;
          height: 20px;
          background: $color-accent;
          border: none;
          border-radius: 100px;
          box-shadow: none;
          &:before,
          &:after {
            display: none;
          }
        }
      }
      .bt-labels-slider {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: 150%;
      }
    }
    &.bt-field-type-select {
      select {
        border-color: #FFFFFF;
      }
      .select2-container--default .select2-selection--single {
        border-color: #FFFFFF;
      }
    }
    &.bt-field-type-multi {
      padding: 20px 24px;
      .bt-field-list {
        @extend .__scrollbar_style;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 210px;
        margin: 12px 0;
      }
      .bt-field-item {
        position: relative;
        font-size: 16px;
        line-height: 150%;
        padding-left: 32px;
        &.checked svg {
          opacity: 1;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFF;
          border: 1px solid #D9D9D9;
          border-radius: 5px;
        }
        svg {
          fill: $color-accent;
          width: 16px;
          height: auto;
          opacity: 0;
          transition: all .3s;
        }
        a {
          color: inherit;
        }
      }
    }
    .bt-field-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      color: $color-primary;
      margin-bottom: 8px;
    }
  }
  .bt-reset-btn {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: $color-secondary;
    padding: 15px;
    border-radius: 15px;
    &.disable {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
}

.bt-car-sidebar-toggle {
  display: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #ffffff;
  background: $color-accent;
  margin-bottom: 20px;
  padding: 9px 20px;
  border-radius: 10px;
  @media(max-width: $break-md) {
    display: block;
  }
  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  svg {
    width: 30px;
    height: auto;
  }
}

@media(max-width: $break-md) {
  .bt-sidebar-col.active {
    .bt-car-sidebar {
      opacity: 1;
      transform: translateX(0);
    }
    .bt-sidebar-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
  .bt-car-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 360px;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s;
    .bt-car-filter-form {
      border-radius: 0;
    }
  }
  .bt-sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.83);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
}

.bt-filter-results {
  position: relative;
  min-height: 540px;
  &.loading {
    .bt-loading-wave {
      opacity: 1;
      visibility: visible;
    }
  }
  .bt-loading-wave {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
}

.bt-car-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &[data-view=""],
  &[data-view="grid"] {
    .bt-post {
      width: calc(50% - 15px);
      @media(max-width: $break-sm) {
        width: 100%;
      }
    }
  }
  &[data-view="list"] {
    @media(min-width: $break-sm  + 0.02) {
      .bt-post {
        width: 100%;
        &--inner {
          display: flex;
        }
        &--thumbnail {
          width: 50%;
          .bt-cover-image {
            height: 100%;
            padding-bottom: 0;
          }
        }
        &--featured {
          height: 100%;
          a {
            display: block;
            height: 100%;
          }
        }
        &--infor {
          width: 50%;
        }
        &--body {
          position: absolute;
          top: -1px;
          left: 0;
          border-radius: 0 0 10px 0;
          transform: none;
        }
        &--info-inner {
          padding: 60px 30px 24px;
        }
      }
    }
  }
  .bt-post {
    @extend .__bt-post-car-default;
  }
}

.post-type-archive-car {
  .bt-main-post-row {
    flex-direction: row-reverse;
    @media(max-width: $break-md) {
      flex-direction: column-reverse;
    }
  }
}

.__bt-single-car-style-1 {
  .bt-post {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &--main {
      width: calc(66.66% - 15px);
    }
    &--sidebar {
      width: calc(33.33% - 15px);
    }
    &--title {
      font-size: 30px;
      margin: 0 0 16px;
    }
    &--location {
      position: relative;
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 32px;
      padding-left: 28px;
      svg {
        position: absolute;
        top: 4px;
        left: 0;
        width: 22px;
        height: auto;
        fill: $color-accent;
      }
    }
    &--meta {
      display: flex;
      flex-wrap: wrap;
      background: #FFFFFF;
      overflow: hidden;
      margin-bottom: 50px;
      border: 1px solid #DADADA;
      border-radius: 10px;
    }
    &--meta-col {
      width: 25%;
      &:not(:last-child) {
        width: calc(25% - 1px);
        border-right: 1px solid #DADADA;
      }
    }
    &--meta-item {
      padding: 18px 30px;
      .bt-meta-item {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 150%;
        padding-left: 32px;
      }
      svg {
        position: absolute;
        top: 5px;
        left: 0;
        width: 22px;
        height: auto;
        color: $color-accent;
      }
      .bt-label {
        font-size: 14px;
        color: #848484;
      }
    }
    &--gallery {
      line-height: 0;
      margin-bottom: 72px;
      .bt-gallery-slider {
        margin: 0 -10px;
        &.bt-slider-nav {
          margin-top: 20px;
          .bt-slider-item {
            .bt-cover-image {
              cursor: pointer;
              padding-bottom: 78%;
            }
          }
        }
        .bt-slider-item {
          padding: 0 10px;
          .bt-cover-image {
            border-radius: 20px;
          }
        }

      }
    }
    &--thumbnail {
      margin-bottom: 72px;
      .bt-cover-image {
        border-radius: 20px;
      }
    }
    &--section {
      &:not(:last-child) {
        margin-bottom: 80px;
      }
      .bt-title-ss {
        position: relative;
        font-size: 30px;
        margin: 0 0 25px;
        padding-left: 20px;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background: $color-accent;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 25px;
          width: calc(100% - 25px);
          height: 1px;
          background: #D9D9D9;
          z-index: -1;
        }
        span {
          display: inline-block;
          background: #FFFFFF;
          padding-right: 30px;
        }
      }
      .bt-meta-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        .bt-meta-item {
          width: calc(50% - 46px);
          display: flex;
          position: relative;
          padding: 10px 0 10px 36px;
          border-bottom: 1px solid #D9D9D9;
          svg {
            position: absolute;
            left: 0;
            top: 11px;
            width: 26px;
            height: auto;
            color: $color-accent;
          }
          span {
            width: 50%;
          }
        }
      }
      .bt-feature-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        .bt-feature-item {
          width: calc(50% - 46px);
          display: flex;
          position: relative;
          padding: 10px 0 10px 36px;
          border-bottom: 1px solid #D9D9D9;
          svg {
            position: absolute;
            left: 0;
            top: 11px;
            width: 26px;
            height: auto;
            color: $color-accent;
          }
        }
      }
      .bt-location-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 25px;
        .bt-location-text {
          position: relative;
          padding-left: 28px;
          svg {
            position: absolute;
            top: 4px;
            left: 0;
            width: 22px;
            height: auto;
            fill: $color-accent;
          }
        }
        .bt-location-link {
          @extend .__bt-button-outline-dark-style;
        }
      }
      .bt-location-map {
        .bt-cover-iframe {
          border-radius: 20px;
        }
      }
    }
    .bt-sidebar-wrap {
      position: sticky;
      top: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .bt-sidebar-block {
        background: #FFFFFF;
        overflow: hidden;
        border: 1px solid #DADADA;
        border-radius: 20px;
        &.bt-sale-block {
          .bt-sale-car {
            position: relative;
            color: #FFFFFF;
            background: $color-accent;
            padding: 30px;
            .bt-sale-body {
              position: absolute;
              top: 30px;
              left: -1px;
              font-size: 16px;
              font-weight: 500;
              line-height: 150%;
              color: #FFFFFF;
              background: $color-secondary;
              padding: 10px 30px;
              border-radius: 0 10px 10px 0;
              a {
                color: inherit;
              }
            }
            .bt-sale-icon-btn {
              display: flex;
              justify-content: flex-end;
              gap: 5px;
              margin-bottom: 25px;
              .bt-icon-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                background: #FFF;
                border: 1px solid #D6D6D6;
                border-radius: 100px;
                transition: all .3s;
                &.added {
                  background: $color-accent;
                  svg {
                    fill: #FFFFFF;
                  }
                }
                svg {
                  fill: $color-accent;
                }
              }
            }
            .bt-sale-price {
              font-size: 30px;
              font-weight: 500;
              line-height: 150%;
              margin-bottom: 10px;
              a {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                color: $color-accent;
                background: #FFFFFF;
                padding: 8px 15px;
                border-radius: 10px;
              }
            }
            .bt-offer-btn {
              display: inline-flex;
              align-items: center;
              gap: 10px;
              color: #FFFFFF;
              text-decoration: underline;
              text-underline-offset: 3px;
            }
          }
          .bt-sale-dealer {
            padding: 30px;
            .bt-dealer-title {
              font-size: 18px;
              font-weight: 500;
              color: $color-primary;
              margin-bottom: 25px;
            }
            .bt-dealer-infor {
              position: relative;
              padding-left: 76px;
              margin-bottom: 30px;
            }
            .bt-dealer-avatar {
              position: absolute;
              top: 0;
              left: 0;
              width: 64px;
              .bt-cover-image {
                padding-bottom: 100%;
                border-radius: 100%;
              }
            }
            .bt-dealer-name {
              font-size: 22px;
              font-weight: 600;
              margin: 0 0 5px;
            }
            .bt-dealer-meta {
              .bt-meta-item {
                position: relative;
                font-size: 16px;
                line-height: 150%;
                padding: 10px 0 10px 28px;
                &:not(:last-child) {
                  border-bottom: 1px solid #D9D9D9;
                }
                svg {
                  position: absolute;
                  top: 10px;
                  left: 0;
                  width: 22px;
                  height: auto;
                  fill: $color-accent;
                }
              }
            }
            .bt-dealer-action {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .bt-message-btn {
                @extend .__bt-button-style;
              }
              .bt-whatsapp-btn {
                @extend .__bt-button-outline-dark-style;
              }
              .bt-view-all-link {
                display: flex;
                justify-content: center;
                text-decoration: underline;
                text-underline-offset: 3px;
                margin-top: 15px;
              }
            }
          }
        }
        &.bt-safety-block {
          .bt-safety-title {
            background: $color-accent;
            padding: 28px 30px;
            h3 {
              font-size: 22px;
              color: #FFFFFF;
              margin: 0;
            }
          }
          .bt-safety-content {
            padding: 25px 30px;
            ul {
              margin: 0;
            }
          }
          .bt-safety-view-detail {
            .bt-view-detail-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              text-transform: uppercase;
              color: $color-accent;
              background: #F1F1F1;
              padding: 18px 20px;
              &:hover {
                color: #FFFFFF;
                background: $color-accent;
              }
            }
          }
        }
      }
    }

    @media(max-width: $break-lg) {
      &--meta-item {
        padding: 15px 20px;
      }
    }

    @media(max-width: $break-md) {
      &--main,
      &--sidebar {
        width: 100%;
      }
    }

    @media(max-width: $break-sm) {
      &--title {
        font-size: 28px;
      }
      &--location {
        font-size: 18px;
      }
      &--meta-col {
        width: 50%;
        &:first-child {
          border-bottom: 1px solid #D9D9D9;
        }
        &:nth-child(2) {
          width: 50%;
          border-right: none;
          border-bottom: 1px solid #D9D9D9;
        }
        &:not(:last-child, :nth-child(2)) {
          width: calc(50% - 1px);
        }
      }
      &--section {
        .bt-meta-list .bt-meta-item,
        .bt-feature-list .bt-feature-item {
          width: calc(100% - 36px);
        }
        .bt-location-title {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    @media(max-width: $break-xs) {
      &--title {
        font-size: 24px;
      }
      &--location {
        font-size: 16px;
      }
      .bt-sidebar-wrap .bt-sidebar-block {
        &.bt-sale-block {
          .bt-sale-car,
          .bt-sale-dealer {
            padding: 30px 15px;
          }
        }
        &.bt-safety-block .bt-safety-content {
          padding: 25px 15px;
        }
      }
    }

    @media(max-width: 420px) {
      &--meta-col {
        width: 100% !important;
        border-right: none !important;
        &:not(:last-child) {
          border-bottom: 1px solid #D9D9D9 !important;
        }
      }
    }
  }
}

.__bt-single-car-style-2 {
  .bt-post {
    position: relative;
  }
}

.__bt-single-car-style-3 {
  .bt-post {
    position: relative;
  }
}

.single-car {
  .bt-main-content-ss {
    &.bt-layout-style1 {
      @extend .__bt-single-car-style-1;
    }
    &.bt-layout-style2 {
      @extend .__bt-single-car-style-2;
    }
    &.bt-layout-style3 {
      @extend .__bt-single-car-style-3;
    }
  }

  .bt-related-posts-ss {
    padding-bottom: 105px;
    &--heading {
      @extend .__bt-section-heading-style;
    }
    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        @extend .__bt-post-car-default;
        width: calc(33.33% - 20px);
      }
    }
    &--bottom-text {
      text-align: center;
      margin-top: 50px;
      a {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: $color-accent;
      }
    }

    @media(max-width: $break-md) {
      &--list {
        .bt-post {
          width: calc(50% - 15px);
        }
      }
    }

    @media(max-width: $break-sm) {
      &--list {
        .bt-post {
          width: 100%;
        }
      }
    }
  }
}

.bt-elwg-cars-wishlist {
  &--default {
    .bt-table {
      background: #FFFFFF;
      overflow: hidden;
      border: 1px solid #DADADA;
      border-radius: 20px;
      &--head {
        background: $color-accent;
        span {
          font-size: 18px;
          font-weight: 600;
          line-height: 150%;
          color: #FFFFFF;
        }
      }
      &--body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 165px;
      }
      .bt-car-list {
        width: 100%;
        transition: all .3s;
      }
      &--row {
        display: flex;
        align-items: center;
        &.bt-car-item:not(:last-child) {
          border-bottom: 1px solid #DADADA;
        }
      }
      &--col {
        width: 15%;
        padding: 20px 15px;
        &.bt-car-remove {
          width: 10%;
          text-align: center;
          a {
            position: relative;
            &.deleting {
              svg {
                opacity: 0;
                &:last-child {
                  opacity: 1;
                }
              }
            }
            svg {
              width: 20px;
              height: auto;
              &:last-child {
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                margin: -10px 0 0 -10px;
                animation-name: effectSpin;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
            }
          }
        }
        &.bt-car-thumb {
          width: 18%;
          .bt-cover-image {
            border-radius: 20px;
          }
        }
        &.bt-car-title {
          width: 27%;
          .bt-title {
            font-size: 20px;
          }
        }
        &.bt-car-price,
        .bt-price-mobile {
          font-weight: 500;
          color: $color-accent;
        }
        &.bt-car-stock,
        .bt-stock-mobile {
          text-transform: capitalize;
          &--mobile {
            display: none;
          }
        }
        .bt-car-meta-mobile {
          display: none;
        }
        &.bt-car-seller {
          min-width: 200px;
          .bt-seller-btn {
            @extend .__bt-button-style;
          }
        }
        &.bt-social-share {
          width: 100%;
          .bt-post-share {
            margin: 0;
          }
        }
      }
      &--foot {
        border-top: 1px solid #DADADA;
      }
      .bt-no-results {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        padding: 20px 15px;
        a {
          display: inline-block;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          text-decoration: underline;
          color: $color-accent;
          margin: 0 4px;
        }
      }

      @media(max-width: $break-md) {
        &--col {
          &.bt-car-thumb {
            width: 22%;
          }
          &.bt-car-title {
            width: 44%;
            .bt-car-meta-mobile {
              display: flex;
              flex-wrap: wrap;
              gap: 20px;
              margin-top: 8px;
            }
          }
          &.bt-car-price,
          &.bt-car-stock {
            display: none;
          }
        }
      }

      @media(max-width: $break-sm) {
        &--head {
          display: none;
        }
        &--row {
          position: relative;
          flex-wrap: wrap;
        }
        &--col {
          padding: 15px;
          &.bt-car-remove {
            order: 3;
          }
          &.bt-car-thumb {
            width: 33%;
          }
          &.bt-car-title {
            width: 67%;
          }
          &.bt-car-seller,
          &.bt-car-remove {
            padding-top: 0;
          }
        }
      }

      @media(max-width: $break-xs) {
        &--col {
          &.bt-car-thumb {
            width: 100%;
            padding-bottom: 0;
          }
          &.bt-car-title {
            width: 100%;
          }
        }
      }
    }
  }
}

.bt-elwg-cars-compare {
  &--default {
    overflow: auto;
    .bt-table {
      @extend .__scrollbar_style;
      position: relative;
      min-width: 1000px;
      background: #FFFFFF;
      overflow-x: auto;
      overflow-y: hidden;
      border: 1px solid #DADADA;
      border-radius: 20px;
      &--row {
        display: flex;
      }
      &--col {
        width: 26.67%;
        min-width: 260px;
        padding: 15px;
        border-bottom: 1px solid #DADADA;
        &:first-child {
          width: 20%;
          min-width: 210px;
          background: #F1F1F1;
        }
      }
      &--foot {
        .bt-table--col {
          border-bottom: none;
        }
        .bt-social-share {
          width: 100%;
          background: transparent;
        }
      }
      .bt-label {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-primary;
      }
      .bt-car-infor {
        position: relative;
      }
      .bt-car-remove {
        position: absolute;
        top: 15px;
        right: 15px;
        line-height: 0;
        z-index: 9;
        a {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          color: $color-accent;
          background: #FFFFFF;
          border: 1px solid #D6D6D6;
          border-radius: 100px;
          transition: all .3s;
          &:hover {
            color: #FFFFFF;
            background: $color-accent;
          }
          &.deleting {
            svg {
              opacity: 0;
              &:last-child {
                opacity: 1;
              }
            }
          }
          svg {
            width: 20px;
            height: auto;
            &:last-child {
              position: absolute;
              top: 50%;
              left: 50%;
              opacity: 0;
              margin: -10px 0 0 -10px;
              animation-name: effectSpin;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }
        }
      }
      .bt-car-thumb {
        margin-bottom: 20px;
        .bt-cover-image {
          border-radius: 15px;
        }
      }
      .bt-car-title {
        font-size: 22px;
        margin-bottom: 15px;
      }
      .bt-car-price {
        font-size: 20px;
        font-weight: 500;
        color: $color-accent;
      }
      .bt-car-add-compare {
        .bt-car-thumb {
          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32px;
            height: auto;
            transform: translate(-50%, -50%);
          }
        }
        .bt-car-title {
          font-size: 18px;
          font-weight: 500;
          text-align: center;
          text-transform: uppercase;
          color: #999999;
        }
      }
      .bt-feature-item {
        position: relative;
        padding-left: 36px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        svg {
          position: absolute;
          left: 0;
          top: 2px;
          width: 26px;
          height: auto;
          color: $color-accent;
        }
      }
      .bt-post-share {
        margin-top: 0;
      }
    }
  }
}

.bt-elwg-mini-wishlist {
  .bt-mini-wishlist {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    &:hover .bt-mini-wishlist {
      &--content {
        opacity: 1;
        visibility: visible;
      }
    }
    &--icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      background: #F0F0F0;
      border-radius: 100px;
      svg {
        fill: $color-accent;
        width: 24px;
        height: auto;
      }
    }
    &--count {
      position: absolute;
      top: -3px;
      right: -3px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20px;
      height: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #FFFFFF;
      background: $color-accent;
      padding: 3px;
      border-radius: 50px;
    }
    &--content {
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 400px;
      background: #FFFFFF;
      padding: 30px;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      transition: all .3s;
    }
    &--head {
      font-size: 30px;
      margin: 0 0 20px;
    }
    &--list {
      @extend .__scrollbar_style;
      max-height: 300px;
      overflow: auto;
    }
    &--item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #DADADA;
      &:last-child {
        margin-bottom: 0;
      }
      .bt-car-remove {
        position: absolute;
        bottom: 23px;
        right: 4px;
        line-height: 0;
        a {
          position: relative;
          &.deleting {
            svg {
              opacity: 0;
              &:last-child {
                opacity: 1;
              }
            }
          }
          svg {
            width: 20px;
            height: auto;
            &:last-child {
              position: absolute;
              top: 50%;
              left: 50%;
              opacity: 0;
              margin: -10px 0 0 -10px;
              animation-name: effectSpin;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }
        }
      }
      .bt-car-thumb {
        width: 100px;
        .bt-cover-image {
          padding-bottom: 85%;
          border-radius: 15px;
        }
      }
      .bt-car-infor {
        width: calc(100% - 115px);
      }
      .bt-car-title {
        @extend .__bt-max-line-ellipsis;
        font-size: 18px;
        margin: 0 0 4px;
      }
      .bt-car-price {
        font-weight: 500;
        color: $color-accent;
        padding-right: 30px;
      }
    }
    &--link {
      padding-top: 15px;
      a {
        font-size: 18px;
        font-weight: 500;
        color: $color-accent;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    @media(max-width: $break-xs) {
      &--content {
        position: fixed;
        min-width: 100%;
        padding: 30px 15px;
      }
    }
  }
}

.bt-elwg-mini-compare {
  .bt-mini-compare {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    &--icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      background: #F0F0F0;
      border-radius: 100px;
      svg {
        fill: $color-accent;
        width: 24px;
        height: auto;
      }
    }
    &--count {
      position: absolute;
      top: -3px;
      right: -3px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20px;
      height: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #FFFFFF;
      background: $color-accent;
      padding: 3px;
      border-radius: 50px;
    }
  }
}
