.elementor-element {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
.elementor-widget-heading .elementor-heading-title {
  span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;

    &:not(.bt-small){
      color: $color-accent;
      position: relative;
      z-index: 9;
      display: inline-block;
      &::before{
          content: " ";
          display: inline-block;
          width: calc(100% + 50px);
          height: 100%;
          background-image: url('../images/img-graphic-heading.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: -1;
          transform: translate(-50%, -50%);
      }
    }

    &.bt-small{
      font-size: 72%;
    }
  }
  a {
    display: inline-block;
    color: $color-accent !important;
    text-decoration: underline;
  }
}
.elementor-headline,
.elementor-widget-image img {
  margin: 0;
}
.elementor-widget-text-editor {
  .elementor-widget-container,
  .elementor-text-editor {
    > *:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    color: inherit;
    margin: 0 0 16px;
  }
}
.elementor-widget-icon {
  line-height: 0;
}
.elementor-button .elementor-button-icon {
  display: flex;
}
.elementor-image-box-img img {
  margin: 0;
}
.elementor-widget-woocommerce-menu-cart {
  line-height: 1;
  .elementor-button-icon {
    display: flex;
  }
}

.elementor-pagination {
  @extend .__bt-pagination-style;
  .page-numbers {
    &.prev,
    &.next {
      font-size: inherit;
    }
  }
  span {
    &.prev,
    &.next {
      display: none;
    }
  }
}

.elementor-widget-form {
  .elementor-field,
  .elementor-field-textual {
    outline: none !important;
    box-shadow: none !important;
  }
  .elementor-form {
    ::-webkit-input-placeholder {
      opacity: 1 !important;
    }
    ::-moz-placeholder {
      opacity: 1 !important;
    }
    :-ms-input-placeholder {
      opacity: 1 !important;
    }
    .elementor-field,
    .elementor-field-textual {
      padding: 0 8px;
    }
  }
  .elementor-form[name="Contact With Us"] {
    .elementor-field-type-submit {
      justify-content: center;
      .elementor-button {
        flex-basis: auto;
      }
    }
  }
}

.elementor-widget-shortcode {
  width: 100%;
  .tnp-subscription-minimal {
    margin: 0;
    @extend .__bt-newsletter-form-style;
  }
}

.elementor-widget-loop-grid {
  .elementor-posts-masonry {
    .bt-post--featured .bt-cover-image {
      padding-bottom: 0 !important;
      img {
        position: static;
      }
    }
  }

  .elementor-loop-container {
    .e-loop-item{
      > .elementor-section-wrap, .e-parent{
        height: 100%;
        .elementor-widget, .bt-elwg-service-loop-item--style-2, .bt-elwg-service-loop-item--default, .bt-elwg-service-loop-item--style-1{
          height: 100%;
          article.bt-post{
            height: 100%;
            .bt-post--inner{
              height: 100%;
            }
          }
        }
      }
    }
  }
}


.bt-align-left {
  .elementor-counter {
    .elementor-counter-number-prefix,
    .elementor-counter-number-suffix {
      flex-grow: unset;
    }
    .elementor-counter-title {
      text-align: left;
    }
  }
}

.bt-elwg-site-infor {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 40px;
  &--item {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 150%;
    color: $color-primary;
    svg {
      fill: $color-accent;
      display: inline-block;
      margin: 0 4px -1px 0;
    }
  }

  &.separator{
    .bt-elwg-site-infor{
      &--item {
        position: relative;
        &:not(:last-child){
          &::before{
            content: " ";
            display: inline-block;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-secondary;
          }
        }
      }
    }
  }

  &.separator-tb-hide{
    .bt-elwg-site-infor--item:not(:last-child)::before{
      @media (min-width: 768px) and (max-width: 1024.98px) {
        content: none !important;
      }
    }
  }

  &.separator-mb-hide{
    .bt-elwg-site-infor--item:not(:last-child)::before{
      @media (max-width: 767.98px) {
        content: none !important;
      }
    }
  }

  &--style-1{
    .bt-elwg-site-infor{
      &--item {
        > a{
          display: flex;
          align-items: center;
          gap: 12px;
        }

        &-icon{
          min-width: 54px;
          min-height: 54px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          svg{
            width: 100%;
            height: auto;
            max-width: 24px;
            margin: 0;
          }
        }

        &.address{
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
  }
}

.bt-elwg-site-social, .bt-elwg-site-social-style-2{
  @extend .__bt-socials-style;
}

.bt-elwg-site-social-style-2{
  gap:16px;
  .bt-title{
    margin: 0;
  }

  a{
    width: auto;
    height: auto;
    background: transparent !important;
    border-radius: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      fill: $color-secondary;
      width: auto;
      height: 18px;
      transition: $transition;
    }
    &:hover{
      svg{
        fill:$color-accent;
      }
    }
  }
}

.bt-elwg-site-copyright {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 150%;
  color: $color-primary;
  a {
    color: $color-accent;
    .elementor & {
      text-decoration: underline;
    }
  }
}

.bt-elwg-contact-information {
  @extend .__bt-contact-information-style;
}

.bt-elwg-instagram-posts {
  @extend .__instagram-posts-style;
}

.bt-elwg-page-breadcrumb {
  .bt-page-breadcrumb {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
    word-break: break-word;
    z-index: 3;
    svg {
      fill: $color-accent;
      height: 16px;
      margin-right: 4px;
    }
  }
}

.bt-elwg-step-list {
  &--default {
    position: relative;
    &.bt-has-show-more {
      padding-bottom: 70px;
    }
    .bt-step-list {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #EACEE8;
        z-index: 1;
      }
      .bt-line-progress {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 0;
        background: $color-accent;
        z-index: 1;
      }
    }
    .bt-step-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      z-index: 3;
      &.bt-hide-item {
        display: none;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .bt-step-item {
          &--left {
            padding-left: 115px;
            padding-right: 0;
          }
          &--right {
            padding-left: 0;
            padding-right: 115px;
          }
          &--number {
            left: auto;
            right: 0;
            transform: translate(50%, -50%);
          }
        }
      }
      &--left {
        width: 50%;
        padding-right: 115px;
      }
      &--right {
        position: relative;
        width: 50%;
        padding-left: 115px;
      }
      &--number {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        line-height: 0;
        transform: translate(-50%, -50%);
        svg {
          fill: #F5F5F5;
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          font-family: $secondary-font;
          font-size: 24px;
          font-weight: 700;
          color: $color-primary;
          line-height: 1;
          transform: translate(-50%, -50%);
        }
      }
      &--image {
        .bt-cover-image {
          padding-bottom: 58%;
          border-radius: 15px;
          border: 10px solid #FFF;
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
        }
      }
      &--subtitle {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        color: $color-accent;
        margin: 0 0 8px;
      }
      &--title {
        font-size: 32px;
        font-weight: 700;
        color: $color-primary;
        margin: 0 0 12px;
        span {
          font-family: $secondary-font;
          font-weight: 700;
          color: $color-accent;
        }
      }
      &--desc {
        margin-bottom: 36px;
      }
      &--button {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        color: #FFF;
        background: $color-accent;
        border-radius: 15px;
        padding: 16px 40px;
      }
    }
    .bt-step-show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 480px;
      display: flex;
      align-items: end;
      justify-content: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 65%);
      z-index: 9;
      &--button {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: underline;
        color: $color-primary;
        background: #FFF;
        padding: 15px 40px;
        border-radius: 15px;
        border: 1px solid #C6C6C6;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
        svg {
          fill: $color-accent;
          width: 32px;
          height: auto;
        }
        &:hover {
          color: $color-accent;
        }
      }
    }
    @media(max-width: $break-tl) {
      &.bt-has-show-more {
        padding-bottom: 30px;
      }
      .bt-step-item {
        &:nth-child(even) {
          .bt-step-item {
            &--left {
              padding-left: 65px;
              padding-right: 0;
            }
            &--right {
              padding-left: 0;
              padding-right: 65px;
            }
          }
        }
        &--left {
          padding-right: 60px;
        }
        &--right {
          padding-left: 60px;
        }
        &--number {
          width: 70px;
        }
      }
      .bt-step-show-more {
        max-height: 360px;
      }
    }
    @media(max-width: $break-sm) {
      .bt-step-list {
        &:before,
        .bt-line-progress {
          left: 25px;
        }
      }
      .bt-step-item {
        &--left {
          width: 100%;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--right {
          width: 100%;
          padding-top: 30px;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--number {
          left: 0 !important;
          width: 50px;
          transform: translate(0, -50%) !important;
          span {
            font-size: 20px;
          }
        }
        &--button {
          font-size: 14px;
          padding: 12px 25px 12px 25px;
        }
      }
      .bt-step-show-more {
        &--button {
          font-size: 16px;
          padding: 12px 25px 12px 25px;
          svg {
            width: 24px;
          }
        }
      }
    }
  }
}

.bt-elwg-pricing-tabs {
  &--default {
    .bt-pricing-tabs {
      position: relative;
      background: #FFF;
      overflow: hidden;
      border: 1px solid #C6C6C6;
      border-radius: 15px;
      box-shadow: 0 0 122px rgba(0, 0, 0, 0.05);
      .bt-bg-pattern-effect {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &--nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        background: $color-secondary;
        padding: 22px 100px;
      }
      .bt-nav-item {
        position: relative;
        min-width: 220px;
        background: $color-secondary;
        margin-left: 27px;
        padding: 20px 20px 20px 40px;
        border-radius: 100px 50px 50px 100px;
        &.bt-is-active {
          background: #FFF;
          .bt-nav-item {
            &--count {
              color: #FFF;
              background: $color-accent;
            }
            &--title {
              color: $color-primary;
            }
          }
        }
        &--count {
          position: absolute;
          top: 50%;
          left: 0;
          width: 53px;
          height: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $secondary-font;
          font-weight: 700;
          font-size: 18px;
          line-height: 1;
          color: $color-primary;
          background: #FFF;
          border: 3px solid #FFF;
          border-radius: 100px;
          transform: translate(-50%, -50%);
        }
        &--title {
          font-size: 22px;
          font-weight: 700;
          color: #FFF;
        }
      }
      .bt-panel-item {
        position: relative;
        padding: 60px 100px;
        display: none;
        &.bt-is-active {
          display: block;
        }
        &--featured {
          position: absolute;
          top: 17px;
          left: -1px;
          font-size: 14px;
          font-weight: 700;
          line-height: 1.5;
          text-transform: uppercase;
          color: #FFF;
          background: $color-accent;
          padding: 5px 15px;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -19px;
            width: 20px;
            height: 20px;
            border-style: solid;
            border-color: $color-accent transparent transparent $color-accent;
            border-width: 10px;
          }
          &:after {
            top: auto;
            bottom: 0;
            border-color: transparent transparent $color-accent $color-accent;
          }
        }
        &--inner {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
        }
        &--left {
          width: calc(40% - 15px);
        }
        &--right {
          width: calc(60% - 15px);
        }
        &--title {
          font-size: 36px;
          font-weight: 700;
          margin: 0 0 4px;
        }
        &--price {
          font-family: $secondary-font;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.5;
          color: $color-accent;
          span {
            font-size: 140%;
          }
        }
        &--actions {
          margin-top: 35px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 20px;
        }
        &--choose {
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 24px;
          color: #FFF;
          background: $color-accent;
          border-radius: 15px;
          padding: 16px 40px;
        }
        &--more {
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          text-decoration-line: underline;
        }
        &--list {
          list-style: none;
          margin: 20px 0 0;
          padding: 0 0 0 30px;
          @media(max-width: $break-xs) {
            padding-left: 15px;
          }
          li {
            position: relative;
            padding-left: 26px;
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
      @media(max-width: $break-lg) {
        &--nav {
          padding: 20px 50px;
        }
        .bt-panel-item {
          padding: 50px 50px;
        }
      }
      @media(max-width: $break-tl) {
        &--nav {
          padding: 20px 30px;
          .bt-nav-item {
            min-width: 180px;
            &--title {
              font-size: 20px;
            }
          }
        }
        .bt-panel-item {
          padding: 50px 30px;
        }
      }
      @media(max-width: $break-sm) {
        &--nav {
          padding: 20px 15px;
          .bt-nav-item {
            min-width: 220px;
            &--title {
              font-size: 20px;
            }
          }
        }
        .bt-panel-item {
          padding: 40px 15px;
          &--left,
          &--right {
            width: 100%;
          }
          &--title {
            font-size: 32px;
          }
          &--choose {
            font-size: 14px;
            padding: 12px 25px 12px 25px;
          }
        }
      }
    }
  }
}

.bt-elwg-post-grid {
  &--default {
    @extend .__bt-post-style-default;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(33.33% - 20px);
        @media(max-width: $break-md) {
          width: calc(50% - 15px);
        }
        @media(max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-1 {
    @extend .__bt-post-style-1;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        @media(max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-2 {
    @extend .__bt-post-style-2;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        &:first-child,
        &:nth-child(4) {
          width: 100%;
          .bt-cover-image {
            padding-bottom: 50%;
          }
        }
        @media(max-width: $break-sm) {
          width: 100%;
          &:first-child,
          &:nth-child(4) {
            .bt-cover-image {
              padding-bottom: 66.66%;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-post-loop-item {
  &--default {
    @extend .__bt-post-style-default;
  }
  &--style-1 {
    @extend .__bt-post-style-1;
  }
  &--style-2 {
    @extend .__bt-post-style-2;
  }
}

.bt-elwg-podcast-grid {
  &--default {
    @extend .__bt-podcast-style-default;
    .bt-podcast-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      .bt-post {
        width: 33.33%;
        .bt-cover-image {
          padding-bottom: 96%;
        }
        &:first-child,
        &:nth-child(2) {
          width: 50%;
          .bt-cover-image {
            padding-bottom: 64%;
          }
        }
        &--inner {
          border-radius: 0;
          box-shadow: 0;
        }
        @media(max-width: $break-md) {
          width: 50%;
          &:first-child {
            width: 100%;
          }
          &:nth-child(2) {
            .bt-cover-image {
              padding-bottom: 96%;
            }
          }
        }
        @media(max-width: $break-sm) {
          width: 100%;
          &:first-child,
          &:nth-child(2) {
            width: 100%;
            .bt-cover-image {
              padding-bottom: 96%;
            }
          }
        }
      }
    }
  }
  &--style-1 {
    @extend .__bt-podcast-style-default;
    .bt-podcast-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(33.33% - 20px);
        @media(max-width: $break-md) {
          width: calc(50% - 15px);
        }
        @media(max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-2 {
    @extend .__bt-podcast-style-1;
    .bt-podcast-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 150px 120px;
      .bt-post {
        width: calc(33.33% - 60px);
        &:first-child,
        &:nth-child(4),
        &:nth-child(5) {
          width: calc(66.66% - 60px);
          .bt-cover-image {
            padding-bottom: 56%;
          }
        }
        &:nth-child(2) {
          transform: translateY(80px);
        }
        &:nth-child(3),
        &:nth-child(5) {
          transform: translateY(-80px);
        }
      }
      @media(max-width: $break-md) {
        gap: 75px 60px;
        .bt-post {
          width: calc(40% - 30px);
          &:first-child,
          &:nth-child(4),
          &:nth-child(5) {
            width: calc(60% - 30px);
          }
          &:nth-child(2) {
            transform: translateY(40px);
          }
          &:nth-child(3),
          &:nth-child(5) {
            transform: translateY(-40px);
          }
        }
      }
      @media(max-width: $break-sm) {
        gap: 30px 0;
        .bt-post {
          width: 100%;
          &:first-child,
          &:nth-child(4),
          &:nth-child(5) {
            width: 100%;
            .bt-cover-image {
              padding-bottom: 110%;
            }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(5) {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.bt-elwg-podcast-loop-item {
  &--default {
    @extend .__bt-podcast-style-default;
  }
  &--style-1 {
    @extend .__bt-podcast-style-1;
  }
}

.bt-elwg-team-loop-item {
  &--default {
    @extend .__bt-team-style-default;
  }
}

.bt-elwg-testimonial-slider {
  &--default {
    .bt-testimonial-slider {
      max-width: 1050px;
      margin: 0 auto;
      &--for {
        .bt-post {
          padding: 5px;
          &--quote-icon {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 74px;
            height: 74px;
            color: #FFF;
            background: $color-accent;
            margin: 0 auto -37px;
            border-radius: 100px;
          }
          &--inner {
            position: relative;
            overflow: hidden;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 274px;
            padding: 60px 25px 86px;
            background: #FFF;
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.50);
            border-radius: 15px;
          }
          &--desc {
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
            text-align: center;
            > * {
              max-width: 720px;
              margin-left: auto;
              margin-right: auto;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &--nav {
        position: relative;
        margin-top: -56px;
        padding: 0 100px;
        .slick-arrow {
          position: absolute;
          top: 50%;
          left: 75px;
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 46px;
          height: 46px;
          min-height: 48px;
          color: $color-accent;
          background: #FFF;
          padding: 0;
          border: none;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.09);
          transform: translateY(-50%);
          transition: all .3s;
          svg {
            fill: currentColor;
          }
          &.slick-next {
            left: auto;
            right: 75px;
          }
          &:hover {
            color: #FFF;
            background: $color-accent;
          }
        }
        .slick-list {
          overflow: hidden;
          background: #F5F5F5;
          border-radius: 15px;
        }
        .slick-current {
          .bt-post {
            &--inner {
              background: $color-accent;
            }
            &--avatar {
              display: flex;
              overflow: hidden;
              width: 52px;
              height: 52px;
              background: #F5F5F5;
              border-radius: 100px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &--title,
            &--job {
              color: #FFF;
            }
          }
        }
        .bt-post {
          cursor: pointer;
          &--infor {
            position: relative;
            display: flex;
            align-items: center;
            padding: 30px 25px;
            transition: all .3s;
          }
          &--avatar {
            display: flex;
            overflow: hidden;
            width: 52px;
            height: 52px;
            background: #F5F5F5;
            border-radius: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &--title-wrap {
            width: calc(100% - 52px);
            padding-left: 12px;
          }
          &--title {
            font-size: 20px;
            margin-bottom: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all .3s;
          }
          &--job {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: $color-accent;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all .3s;
          }
        }
      }
      @media(max-width: $break-md) {
        &--nav {
          padding: 0 50px;
          .slick-arrow {
            left: 25px;
            &.slick-next {
              right: 25px;
            }
          }
        }
      }
      @media(max-width: $break-xs) {
        &--nav {
          padding: 0 35px;
          .slick-arrow {
            left: 10px;
            &.slick-next {
              right: 10px;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-testimonial-loop-item {
  &--default {
    .bt-post {
      padding: 10px;
      &:hover {
        .bt-post {
          &--infor {
            background: $color-accent;
            &:before {
              background: $color-accent;
            }
          }
          &--title,
          &--job {
            color: #FFF;
          }
        }
      }
      &--quote-icon {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 68px;
        color: #FFF;
        background: $color-accent;
        margin: 0 auto -37px;
        border-radius: 100px;
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.50);
      }
      &--inner {
        position: relative;
        overflow: hidden;
        z-index: 1;
        background: #FFF;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.50);
        border-radius: 15px;
      }
      &--desc {
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        padding: 60px 25px 30px;
        > * {
          max-width: 280px;
          margin-left: auto;
          margin-right: auto;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &--infor {
        position: relative;
        display: flex;
        align-items: center;
        background: $color-secondary;
        padding: 25px;
        transition: all .3s;
        &:before {
          content: "";
          position: absolute;
          top: -8px;
          right: 50px;
          width: 20px;
          height: 20px;
          background: $color-secondary;
          border-radius: 2px;
          transform: rotate(45deg);
          transition: all .3s;
        }
      }
      &--avatar {
        display: flex;
        overflow: hidden;
        width: 52px;
        height: 52px;
        background: #F5F5F5;
        border-radius: 100px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--title-wrap {
        width: calc(100% - 52px);
        padding-left: 12px;
      }
      &--title {
        font-size: 20px;
        color: #FFF;
        margin-bottom: 2px;
        transition: all .3s;
      }
      &--job {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: $color-accent;
        transition: all .3s;
      }
    }
  }
}

.bt-elwg-client-loop-item {
  &--default {
    a {
      display: block;
    }
    .bt-post--inner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 45px 15px;
      background: #FFF;
      border-radius: 15px;
      border: 1px solid #C6C6C6;
      img {
        max-width: 142px;
        width: 100%;
      }
    }
  }
}

.bt-elwg-service-loop-item {
  &--default {
    @extend .__bt-service-style-default;

    .bt-post{
      &:hover{
        &--icon{
          transform: translateY(-10px);
        }
      }

      &--icon-bg{
        display: none;
      }

      &--icon{
        img, svg{
          width: auto;
          height: 100%;
          max-height: 85px;
        }
      }
    }
  }

  &--style-1{
    @extend .__bt-service-style-default;

    .bt-post{
      padding-top: 59px;

      &:hover{
        .bt-post{
          &--icon{
            &-bg{
              height: 100%;
              animation: effectRotateAnimation 2s linear infinite;
            }
          }
        }
      }

      &--inner{
        position: relative;
        padding: 62px 8% 38px 8%;
      }

      &--title{
        margin: 0 auto;
        max-width: 200px;
      }

      &--icon{
        width: 122px;
        height: 122px;
        border-radius: 50%;
        position: absolute;
        top: -59px;
        left: 50%;
        transform: translateX(-50%);
        &-inner{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 999;
          width: 91px;
          height: 91px;
          background-color: $color-accent;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img, svg{
            width: auto;
            height: 100%;
            max-height: 44px;
            filter: brightness(0) invert(1);
          }

          svg{
            path{
              fill: #fff;
            }
          }
        }

        &-bg{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: calc(50% - 7px);
          overflow: hidden;
        }
      }
    }
  }

  &--style-2{
    @extend .__bt-service-style-default;

    .bt-post{
      &:hover{
        .bt-post{
          &--inner{
            &:hover{
              background-color: #fff;
            }
          }
        }
      }

      &--inner{
        border: none;
        text-align: left;
      }

      &--icon{
        justify-content: start;
        width: 109px;
        height: 90px;
        position: relative;

        img, svg{
          width: 100%;
          height: auto;
        }

        &-inner{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 99;
          display: flex;
          justify-content: center;
          align-items: center;
          svg, img{
            max-width: 50px;
          }
        }

        &-bg{
          position: absolute;
          left: 0;
          top: 0;

        }
      }
    }
  }
}

.bt-elwg-account-login{
  display: flex;
  width: 100%;
  &-inner{
    width: 100%;
    ul{
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      align-content: center;
      li{
        list-style-type: none;
        position: relative;
        display: flex;
        a, span{
          color: $color-primary;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: inline-block;
        }

        &:not(:first-child){
          &::before{
            content: " ";
            display: inline-block;
            width: 2px;
            height: 50%;
            background-color: $color-primary;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

.bt-elwg-highlighted-heading{
  display: flex;
  justify-content: start;
  align-items: center;
  h1, h2, h3, h4, h5, h6{
    width: 100%;
    max-width: fit-content;
    z-index: 9;
    color: $color-primary;
    a, span{
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      color: inherit;
      display: inline-block;
    }

    .bt-small {
      font-size: 72%;
    }
  }

  .__text-highlighted{
    position: relative;
    color: $color-accent;
    img{
      position: absolute;
      min-width: calc(100% + 70%);
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      cursor: pointer;
    }
  }

  &.animationed{
    .__text-highlighted{
      img{
        animation: effectScaleAnimation 2s ease-in-out infinite;
      }
    }
  }
}

.bt-elwg-list-image-text{
  &-inner{
    display: grid;

    .item-image-text{
      &-inner{
        border-radius: 20px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        padding: 23px 10px 29px 10px;
        position: relative;
      }

      &--thumbnail{
        width: 100%;
        display: flex;
        justify-content: center;
        svg{
          width: 100%;
          height: auto;
          max-width: 60px;
        }
      }

      h3{
        width: 100%;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
      }

      a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--default, &--style-2{
    .item-image-text{
      &-inner{
        &:hover{
          .item-image-text{
            &--thumbnail{
              transform: translateY(-5px);
            }
          }

          h3{
            transform: translateY(5px);
          }
        }
      }

      &--thumbnail, h3{
        transition: $transition;
      }
    }
  }

  &--default{
    .bt-elwg-list-image-text{
      &-inner{
        .item-image-text{
          &-inner{
            gap: 19px;
          }
        }
      }
    }
  }

  &--style-1{
    .bt-elwg-list-image-text{
      &-inner{
        .item-image-text{
          &-inner{
            gap: 13px;
            .elementor-widget-bt-list-image-text & {
              &:hover{
                background-color: $color-accent;
                h3{
                  color: #fff;
                  font-weight: 400;
                }
              }
            }

            &:hover{
              .item-image-text--thumbnail{
                img{
                  .elementor-widget-bt-list-image-text & {
                    filter: brightness(0) invert(1);
                  }
                }

                svg{
                  fill: #ffff;
                  path{
                    fill: #fff;
                  }

                  > g{
                    path{
                      stroke: #fff !important;
                    }
                  }
                }
              }
            }
          }

          &--thumbnail img, &-inner, svg{
            transition: $transition;
          }

          &--thumbnail{
            svg{
              fill: $color-accent;
              path{
                fill: $color-accent;
              }

              > g{
                path{
                  stroke:$color-accent !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &--style-2{
    .bt-elwg-list-image-text{
      &-inner{
        .item-image-text{
          &-inner{
            gap: 13px;
          }

          &--thumbnail{
            svg{
              fill: $color-primary;
              path{
                fill: $color-primary;
              }

              > g{
                path{
                  stroke:$color-primary !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.bt-elwg-card-image-text-grid{
  &-inner{
    display: grid;
    @media (min-width: 641px) and (max-width: $break-sm) {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    .item-card-image-text{
      position: relative;
      &:hover{
        .item-card-image-text{
          &--thumbnail{
            img{
              transform: scale(1.1);
            }
          }
        }
      }

      &-inner{
        position: relative;
        overflow: hidden;
      }

      &--thumbnail{
        width: 100%;
        height: auto;
        img{
          @extend .bt-image-absolute;
          object-position: center;
          transition: $transition;
        }
      }

      &--content{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 16px;
        background: rgba(31, 190, 205, 0.50);
        text-align: center;
        h3{
          color: #fff;
          font-size: 26px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        a{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top:0;
          z-index: 9;
        }
      }
    }
  }

  &.--style-1{
    .bt-elwg-card-image-text-grid{
      &-inner{
        padding-top: 60px;
        @media(max-width: $break-tl) {
          padding-top: 48px;
        }

        @media (max-width: 640.98px) {
          padding-top: 0;
        }

        .item-card-image-text{
          &:nth-child(odd){
            margin-top: -60px;
            @media(max-width: $break-tl) {
              margin-top: -48px;
            }

            @media (max-width: 640.98px) {
              margin-top: 0;
            }
          }

          &--content{
            bottom: 0;
            background-color: $color-accent;

            h3{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-cars-search{
  &-inner{
    .bt-field-type-select{
      &::before{
        content: none;
      }
    }

    .select2-container--default{
      .select2-selection{
        &__arrow{
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            path{
              fill: $color-accent;
            }
          }
        }
      }
    }

    form{
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 10px;

      .bt-field-submit{
        position: relative;
      }
    }
  }

  &--form{
    &-top-search{
      display: flex;
      gap:4px;
      margin-top: 14px;

      &-inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px 24px;
        @media (max-width: 640.98px) {
           gap: 8px 18px;
        }

        .item-top-search{
          display: flex;

          &:not(:first-child){
            position: relative;
            &::before{
              content: "";
              display: inline-block;
              width: 2px;
              height: 75%;
              position: absolute;
              left: -12px;
              top: 50%;
              transform: translateY(-50%);

              @media (max-width: 640.98px) {
                width: 1px;
                left: -9px;
              }
            }
          }
        }
      }
      a, p{
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin: 0;
      }

      p{
        text-transform: uppercase;
        min-width: fit-content;
      }

      a{
        .elementor & {
          text-decoration-line: underline;
        }
      }
    }
  }

  &--default, &--style-2{
    .select2-container{
      min-height: 64px;
      display: flex;
      align-items: center;
      padding-left: 24px;
      padding-right: 15px;

      @media(max-width: $break-md) {
        padding-left: 15px;
      }

      @media (max-width: 640.98px) {
        min-height: 48px;
      }

      .selection{
        height: 64px;
        width: 100%;
        @media (max-width: 640.98px) {
          height: 48px;
        }
      }

      .select2-selection{
        &--single{
          height: 64px;
          gap: 18px;
          padding: 0;
          justify-content: flex-start;
          gap: 0;
          border: none;
          border-radius: 0;
          @media (max-width: 640.98px) {
            height: 48px;
          }

          @media (max-width: 640.98px) {
            justify-content: space-between;
          }
        }

        &__arrow{
          @media (max-width: 640.98px) {
            width: 20px;
            height: 48px;
          }
        }

        &__rendered {
          padding: 0;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }

    .bt-elwg-cars-search{
      &--form{
        form{
          @media (max-width: 640.98px) {
            flex-wrap: wrap;
          }
        }

        .bt-form-field {
          @media (max-width: 640.98px) {
            width: 100%;
          }

          &:not(:last-child){
            @media (max-width: 640.98px) {
              border-bottom: 1px solid $color-accent;
            }
          }

          &.bt-field-type-select{
            &:not(:first-child){
              .select2-container{
                border-left: 1px solid #E4ECFF;
              }
            }
          }
        }
      }
    }
  }

  &--default{
    .bt-elwg-cars-search{
      &--header{
        display: none;
      }

      &--form{
        position: relative;
        z-index: 9;
        overflow: hidden;
        background: $color-secondary;
        &::before{
          content: " ";
          display: inline-block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
      }

      &-inner{
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.30);
        form{
          @media (min-width: 641px) {
            padding-right: 5px;
          }
        }

        .bt-form-field{
          @media (min-width: 641px) {
            width: calc((100% - 56px) / 3);
          }
        }

        .bt-field-submit{
          overflow: hidden;
          background-color: $color-accent;
          border-radius: 10px;
          min-width: 56px;
          min-height: 54px;
          max-width: 56px;

          @media (max-width: 640.98px) {
            min-width: 100%;
            border-radius: 0px 0px 10px 10px;
          }

          input[type="submit"]{
            background-color: transparent;
            font-size: 0;
            padding: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
          }

          svg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 8;
          }
        }
      }
    }
  }

  &--style-1, &--style-2{
    .bt-elwg-cars-search{
      &-inner{
        background-color: $color-accent;
      }

      &--form{
        .bt-form-field{
          &.bt-field-submit{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            border-radius: 10px;
            input[type="submit"]{
              padding: 0;
              width: auto;
              height: auto;
              font-size: 17px;
              font-weight: 700;
              line-height: 211.765%;
              border: none;
              background:transparent;
            }
          }
        }
      }
    }
  }

  &--style-2{
    padding-top: 49px;
    .bt-elwg-cars-search{
      &-inner{
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.30);
        position: relative;
      }

      &--form{
        form{
          padding: 0 6px 0 0;
          @media(max-width: $break-md) {
            padding: 0;
            flex-wrap: wrap;
          }
        }

        .bt-form-field{
          width: 100%;

          @media (min-width: 992px) {
            max-width: calc((100% - 170px) / 4);
          }

          @media (min-width: 1025px) {
            max-width: calc((100% - 207px) / 4);
          }

          @media (min-width: 520px) and (max-width: $break-md) {
            max-width: 50%;
          }

          &:not(:last-child){
            @media (min-width: 520px) and (max-width: $break-md) {
              border-bottom: 1px solid #E4ECFF;
            }
          }

          &.bt-field-car_condition{
            flex-wrap: nowrap;
            align-items: center;
            gap: 2px;
            position: absolute;
            left: 49px;
            top: -49px;
            max-width: calc(100% - 49px);
            @media(max-width: $break-md) {
              border:none;
              left: 30px;
              max-width: calc(100% - 30px);
            }

            @media(max-width: $break-sm){
              left: 15px;
              max-width: calc(100% - 15px);
            }

            .item-radio{
              border-radius: 10px 10px 0px 0px;
              background: #FFF;
              min-height: 49px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 26px;
              min-width: fit-content;
              transition: $transition;
              max-width: fit-content;
              @media(max-width: $break-sm){
                padding: 0 10px;
                width: auto;
              }

              &:has(input:checked), &:hover{
                background-color: $color-accent;
                label{
                  color: #fff;
                }
              }

              input[type="radio"]{
                width: 100%;
                height: 100%;
                opacity: 0;
                transform: translateY(0);
                top: 0;
                cursor: pointer;
              }

              label{
                color: $color-primary;
                font-size: 18px;
                font-weight: 700;
                transition: $transition;
                display: inline-block;

                @media(max-width: $break-sm){
                  font-size: 16px;
                }

                @media(max-width: $break-xs){
                  font-size: 14px;
                }

                &::before{
                  content: none;
                }
              }

              svg{
                display: none;
              }
            }
          }

          &.bt-field-submit{
            background-color: $color-secondary;
            height: 54px;
            min-width: 207px;
            width: 207px;

            @media(max-width: $break-tl) {
              min-width: 170px;
              width: 170px;
            }

            @media(max-width: $break-md){
              width: 100%;
              max-width: 100%;
              margin-top: -1px;
              border-radius: 0 0 10px 10px;
            }
          }
        }
      }
    }
  }

  &--style-1{
    .select2-container--default, .elementor-editor-active & .select2-container--default{
      .select2-selection{
        &--single{
          background:transparent;
          border-width: 2px;
          border-style: solid;
          padding-left: 27px;
          height: 60px;
        }

        &__rendered{
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .bt-elwg-cars-search{
      &-inner{
        padding: 49px 12% 54.71px 12%;
        filter: drop-shadow(0px 0px 50px rgba(35, 31, 32, 0.15));
        form{
          background:transparent;
          flex-wrap: wrap;
          .bt-form-field{
            width: 100%;
            &:not(:last-child){
              margin-bottom: 20px;
            }
          }

          .bt-field-submit{
            min-height: 60px;

            input[type="submit"]{
              color: $color-secondary;
            }

            svg{
              path{
                stroke: $color-secondary;
              }
            }
          }
        }
      }

      &--header{
        text-align: center;
        padding-bottom: 30px;
        svg{
          width: 100%;
          height: auto;
          margin-bottom: -18px;
          max-width: 96px;
        }

        svg{
          path{
            fill: #fff;
          }

          > g{
            path{
              stroke: #fff !important;
            }
          }
        }

        h3{
          line-height:111.111%;
        }

        p{
          margin: 10px 0 0 0;
          font-size: 20px;
          font-weight: 500;
          line-height: normal;
        }
      }

      &--cta{
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          margin-top: 18.29px;
          span{
            color: #FFF;
            font-size: 17.988px;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
          }

          svg{
            width: 100%;
            height: auto;
            max-width: 20px;
            path{
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-car-loop-item {
  &--default {
    .bt-post {
      @extend .__bt-post-car-default;
    }
  }
  &--style-1 {
    .bt-post {
      @extend .__bt-post-car-style-1;
    }
  }
  &--style-2 {
    .bt-post {
      @extend .__bt-post-car-style-2;
    }
  }
}

.bt-elwg-list-icon-text{
  &-inner{
    display: flex;

    @media (max-width: $break-tl) {
      flex-wrap: wrap;
    }

    .bt-elwg-list-icon-text--title > h3{
      font-size: 26px;
      line-height: normal;
      color: #fff;
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        font-size: 20px !important;
      }
    }
  }

  &--title{
    min-width: 25%;
    background-color: $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    @media (max-width: $break-tl) {
      min-width: 100%;
      padding:32px 15px;
    }
  }

  &--items{
    background: $color-secondary;
    padding: 0 0px 0 10px;
    min-height: 117px;
    width: 75%;
    display: flex;
    overflow: hidden;

    @media(max-width: 1679.98px) {
      width: 85%;
    }

    @media (max-width: $break-tl) {
      max-width: 100%;
    }

    .item-icon-text{
      padding: 0 40px;

      @media (max-width: 1679.98px){
        padding-left: 15px;
        padding-right: 15px;
      }

      @media (max-width: 1199.98px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      @media (max-width: $break-tl) {
        padding-left: 14px;
        padding-right: 14px;
      }

      @media (max-width: $break-sm) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: $break-sm) {
        width: calc(100% / 3);
      }

      @media (max-width: $break-xs) {
        width: 50%;
      }

      &:not(:first-child){
        position: relative;
        &::before{
          content: " ";
          display: inline-block;
          width: 1px;
          height: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          max-height: 25px;
          left: 0;
        }
      }

      &:nth-child(4n) {
        &::before{
          @media (min-width: 520px) and (max-width: $break-sm) {
            content: none;
          }
        }
      }

      &:nth-child(odd){
        &::before{
          @media (max-width: $break-xs) {
            content: none;
          }
        }
      }

      &-inner{
        display: flex;
        align-items: center;
        position: relative;
        gap: 17px;
        height: 100%;
        @media(max-width: 1379.98px) {
          gap: 10px;
        }

        a{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 2;
        }

        h4{
          font-size: 22px;
          font-weight: 500;

          @media (min-width: 1025px) and (max-width: 1379.98px) {
            font-size: 17px !important;
          }
        }
      }
      &--icon{
        display: flex;
        align-items: center;
        svg, img{
          width: 100%;
          height: auto;
          max-width: 46px;
          min-width: 46px;

          @media (max-width: 1199.98px) {
            max-width: 32px;
            min-width: 32px;
          }
        }

        svg{
          path{
            fill: #fff;
          }

          > g{
            path{
              stroke: #fff !important;
            }
          }
        }
      }
    }
  }
}

.elementor-widget-button{
  .elementor-button-icon svg{
    width: fit-content;
  }
}

.elementor-widget-image-box{
  .elementor-image-box{
    &-description{
      a{
        font-weight: 700;
        text-decoration:underline;
      }
    }
  }
}
