.elementor-element {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
.elementor-widget-heading .elementor-heading-title {
  span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
  }
  a {
    display: inline-block;
    color: $color-accent !important;
    text-decoration: underline;
  }
}
.elementor-headline,
.elementor-widget-image img {
  margin: 0;
}
.elementor-widget-text-editor {
  .elementor-widget-container,
  .elementor-text-editor {
    > *:last-child {
      margin-bottom: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
    margin: 0 0 16px;
  }
}
.elementor-widget-icon {
  line-height: 0;
}
.elementor-button .elementor-button-icon {
  display: flex;
}
.elementor-image-box-img img {
  margin: 0;
}
.elementor-widget-woocommerce-menu-cart {
  line-height: 1;
  .elementor-button-icon {
    display: flex;
  }
}

.elementor-pagination {
  @extend .__bt-pagination-style;
  .page-numbers {
    &.prev,
    &.next {
      font-size: inherit;
    }
  }
  span {
    &.prev,
    &.next {
      display: none;
    }
  }
}

.elementor-widget-form {
  .elementor-field,
  .elementor-field-textual {
    outline: none !important;
    box-shadow: none !important;
  }
  .elementor-form {
    ::-webkit-input-placeholder {
      opacity: 1 !important;
    }
    ::-moz-placeholder {
      opacity: 1 !important;
    }
    :-ms-input-placeholder {
      opacity: 1 !important;
    }
    .elementor-field,
    .elementor-field-textual {
      padding: 0 8px;
    }
  }
  .elementor-form[name="Contact With Us"] {
    .elementor-field-type-submit {
      justify-content: center;
      .elementor-button {
        flex-basis: auto;
      }
    }
  }
}

.elementor-widget-shortcode {
  width: 100%;
  .tnp-subscription-minimal {
    margin: 0;
    @extend .__bt-newsletter-form-style;
  }
}

.elementor-widget-loop-grid {
  .elementor-posts-masonry {
    .bt-post--featured .bt-cover-image {
      padding-bottom: 0 !important;
      img {
        position: static;
      }
    }
  }

  .elementor-loop-container {
    .e-loop-item {
      > .elementor-section-wrap,
      .e-parent {
        height: 100%;
        .elementor-widget {
          height: 100%;
          article.bt-post {
            height: 100%;
            .bt-post--inner {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.bt-align-left {
  .elementor-counter {
    .elementor-counter-number-prefix,
    .elementor-counter-number-suffix {
      flex-grow: unset;
    }
    .elementor-counter-title {
      text-align: left;
    }
  }
}

.bt-elwg-site-infor {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 50px;
  &--item {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 150%;
    color: $color-primary;
    a {
      display: flex;
      align-items: center;
      grid-gap: 7px;
    }
    svg {
      fill: $color-accent;
      display: inline-block;
    }
  }

  &.separator {
    .bt-elwg-site-infor {
      &--item {
        position: relative;
        &:not(:last-child) {
          &::before {
            content: " ";
            display: inline-block;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-secondary;
          }
        }
      }
    }
  }

  &.separator-tb-hide {
    .bt-elwg-site-infor--item:not(:last-child)::before {
      @media (min-width: 768px) and (max-width: 1024.98px) {
        content: none !important;
      }
    }
  }

  &.separator-mb-hide {
    .bt-elwg-site-infor--item:not(:last-child)::before {
      @media (max-width: 767.98px) {
        content: none !important;
      }
    }
  }

  &--style-1 {
    row-gap: 40px;
    .bt-elwg-site-infor {
      &--item {
        > a {
          display: flex;
          align-items: center;
          gap: 18px;
        }

        &-icon {
          min-width: 67px;
          min-height: 67px;
          background-color: $color-accent;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 100%;
            height: auto;
            max-width: 30px;
            margin: 0;
          }
        }
        &-content {
          h4 {
            color: $color-primary;
            font-family: $secondary-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 33px;
          }
          span {
            color: $color-text;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
          }
        }

        &.address {
          display: flex;
          align-items: center;
          gap: 18px;
        }
      }
    }
  }
}

.bt-elwg-site-social,
.bt-elwg-site-social-style-2 {
  @extend .__bt-socials-style;
}

.bt-elwg-site-social-style-2 {
  gap: 16px;
  .bt-title {
    margin: 0;
  }

  a {
    width: auto;
    height: auto;
    background: transparent !important;
    border-radius: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: $color-secondary;
      width: auto;
      height: 18px;
      transition: $transition;
    }
    &:hover {
      svg {
        fill: $color-accent;
      }
    }
  }
}

.bt-elwg-site-copyright {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 150%;
  color: $color-primary;
  a {
    color: $color-accent;
    .elementor & {
      text-decoration: underline;
    }
  }
}

.bt-elwg-contact-information {
  @extend .__bt-contact-information-style;
}

.bt-elwg-instagram-posts {
  @extend .__instagram-posts-style;
}

.bt-elwg-page-breadcrumb {
  .bt-page-breadcrumb {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    word-break: break-word;
    z-index: 3;
    svg {
      fill: $color-accent;
      height: 16px;
      margin-right: 4px;
    }
  }
}

.bt-elwg-step-list {
  &--default {
    position: relative;
    &.bt-has-show-more {
      padding-bottom: 70px;
    }
    .bt-step-list {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #eacee8;
        z-index: 1;
      }
      .bt-line-progress {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 0;
        background: $color-accent;
        z-index: 1;
      }
    }
    .bt-step-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      z-index: 3;
      &.bt-hide-item {
        display: none;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .bt-step-item {
          &--left {
            padding-left: 115px;
            padding-right: 0;
          }
          &--right {
            padding-left: 0;
            padding-right: 115px;
          }
          &--number {
            left: auto;
            right: 0;
            transform: translate(50%, -50%);
          }
        }
      }
      &--left {
        width: 50%;
        padding-right: 115px;
      }
      &--right {
        position: relative;
        width: 50%;
        padding-left: 115px;
      }
      &--number {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        line-height: 0;
        transform: translate(-50%, -50%);
        svg {
          fill: #f5f5f5;
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          font-family: $secondary-font;
          font-size: 24px;
          font-weight: 700;
          color: $color-primary;
          line-height: 1;
          transform: translate(-50%, -50%);
        }
      }
      &--image {
        .bt-cover-image {
          padding-bottom: 58%;
          border-radius: 15px;
          border: 10px solid #fff;
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
        }
      }
      &--subtitle {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        color: $color-accent;
        margin: 0 0 8px;
      }
      &--title {
        font-size: 32px;
        font-weight: 700;
        color: $color-primary;
        margin: 0 0 12px;
        span {
          font-family: $secondary-font;
          font-weight: 700;
          color: $color-accent;
        }
      }
      &--desc {
        margin-bottom: 36px;
      }
      &--button {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        color: #fff;
        background: $color-accent;
        border-radius: 15px;
        padding: 16px 40px;
      }
    }
    .bt-step-show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 480px;
      display: flex;
      align-items: end;
      justify-content: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 65%);
      z-index: 9;
      &--button {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: underline;
        color: $color-primary;
        background: #fff;
        padding: 15px 40px;
        border-radius: 15px;
        border: 1px solid #c6c6c6;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
        svg {
          fill: $color-accent;
          width: 32px;
          height: auto;
        }
        &:hover {
          color: $color-accent;
        }
      }
    }
    @media (max-width: $break-tl) {
      &.bt-has-show-more {
        padding-bottom: 30px;
      }
      .bt-step-item {
        &:nth-child(even) {
          .bt-step-item {
            &--left {
              padding-left: 65px;
              padding-right: 0;
            }
            &--right {
              padding-left: 0;
              padding-right: 65px;
            }
          }
        }
        &--left {
          padding-right: 60px;
        }
        &--right {
          padding-left: 60px;
        }
        &--number {
          width: 70px;
        }
      }
      .bt-step-show-more {
        max-height: 360px;
      }
    }
    @media (max-width: $break-sm) {
      .bt-step-list {
        &:before,
        .bt-line-progress {
          left: 25px;
        }
      }
      .bt-step-item {
        &--left {
          width: 100%;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--right {
          width: 100%;
          padding-top: 30px;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--number {
          left: 0 !important;
          width: 50px;
          transform: translate(0, -50%) !important;
          span {
            font-size: 20px;
          }
        }
        &--button {
          font-size: 14px;
          padding: 12px 25px 12px 25px;
        }
      }
      .bt-step-show-more {
        &--button {
          font-size: 16px;
          padding: 12px 25px 12px 25px;
          svg {
            width: 24px;
          }
        }
      }
    }
  }
}

.bt-elwg-post-grid {
  &--default {
    @extend .__bt-post-style-default;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(33.33% - 20px);
        @media (max-width: $break-md) {
          width: calc(50% - 15px);
        }
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-1 {
    @extend .__bt-post-style-1;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-2 {
    @extend .__bt-post-style-2;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        &:first-child,
        &:nth-child(4) {
          width: 100%;
          .bt-cover-image {
            padding-bottom: 50%;
          }
        }
        @media (max-width: $break-sm) {
          width: 100%;
          &:first-child,
          &:nth-child(4) {
            .bt-cover-image {
              padding-bottom: 66.66%;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-post-loop-item {
  &--default {
    @extend .__bt-post-style-default;
  }
  &--style-1 {
    @extend .__bt-post-style-1;
  }
  &--style-2 {
    @extend .__bt-post-style-2;
  }
}

.bt-elwg-therapist-loop-item {
  &--default {
    @extend .__bt-therapist-style-default;
  }
}

.bt-elwg-testimonial-slider {
  &--default {
    .bt-testimonial-slider {
      max-width: 1050px;
      margin: 0 auto;
      &--for {
        .bt-post {
          padding: 5px;
          &--quote-icon {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 74px;
            height: 74px;
            color: #fff;
            background: $color-accent;
            margin: 0 auto -37px;
            border-radius: 100px;
          }
          &--inner {
            position: relative;
            overflow: hidden;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 274px;
            padding: 60px 25px 86px;
            background: #fff;
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
            border-radius: 15px;
          }
          &--desc {
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
            text-align: center;
            > * {
              max-width: 720px;
              margin-left: auto;
              margin-right: auto;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &--nav {
        position: relative;
        margin-top: -56px;
        padding: 0 100px;
        .slick-arrow {
          position: absolute;
          top: 50%;
          left: 75px;
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 46px;
          height: 46px;
          min-height: 48px;
          color: $color-accent;
          background: #fff;
          padding: 0;
          border: none;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.09);
          transform: translateY(-50%);
          transition: all 0.3s;
          svg {
            fill: currentColor;
          }
          &.slick-next {
            left: auto;
            right: 75px;
          }
          &:hover {
            color: #fff;
            background: $color-accent;
          }
        }
        .slick-list {
          overflow: hidden;
          background: #f5f5f5;
          border-radius: 15px;
        }
        .slick-current {
          .bt-post {
            &--inner {
              background: $color-accent;
            }
            &--avatar {
              display: flex;
              overflow: hidden;
              width: 52px;
              height: 52px;
              background: #f5f5f5;
              border-radius: 100px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &--title,
            &--job {
              color: #fff;
            }
          }
        }
        .bt-post {
          cursor: pointer;
          &--infor {
            position: relative;
            display: flex;
            align-items: center;
            padding: 30px 25px;
            transition: all 0.3s;
          }
          &--avatar {
            display: flex;
            overflow: hidden;
            width: 52px;
            height: 52px;
            background: #f5f5f5;
            border-radius: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &--title-wrap {
            width: calc(100% - 52px);
            padding-left: 12px;
          }
          &--title {
            font-size: 20px;
            margin-bottom: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s;
          }
          &--job {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: $color-accent;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s;
          }
        }
      }
      @media (max-width: $break-md) {
        &--nav {
          padding: 0 50px;
          .slick-arrow {
            left: 25px;
            &.slick-next {
              right: 25px;
            }
          }
        }
      }
      @media (max-width: $break-xs) {
        &--nav {
          padding: 0 35px;
          .slick-arrow {
            left: 10px;
            &.slick-next {
              right: 10px;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-testimonial-loop-item {
  &--default {
    .bt-post {
      padding: 10px;
      &--quote-icon {
        position: absolute;
        z-index: 3;
        right: 27px;
        top: 24px;
        @media (max-width: $break-xs) {
          right: 14px;
          top: 13px;
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      &--inner {
        position: relative;
        overflow: hidden;
        padding: 51px 71px;
        z-index: 1;
        background-image: url("../images/bg-item-testimonials.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: $break-xs) {
          padding: 35px;
        }
      }
      &--desc {
        color: $color-text;
        font-family: $secondary-font;
        font-size: 26px;
        font-style: italic;
        font-weight: 400;
        line-height: 36px;
        > * {
          margin-left: auto;
          margin-right: auto;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &--infor {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 28px;
        transition: all 0.3s;
      }
      &--avatar {
        display: flex;
        overflow: hidden;
        width: 88px;
        height: 88px;
        background: #f5f5f5;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--title-wrap {
        width: calc(100% - 88px);
        padding-left: 22px;
      }
      &--title {
        color: #fff;
        font-family: $secondary-font;
        font-size: 30px;
        font-weight: 600;
        transition: all 0.3s;
        margin-bottom: 5px;
      }
      &--job {
        color: $color-accent;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        transition: all 0.3s;
      }
    }
  }
}
.bt-elwg-service-list {
  &--default {
    .bt-service-list {
      display: flex;
      flex-direction: column;
      grid-gap: 30px;
    }
    .bt-service-list-item {
      display: flex;
      grid-gap: 8px;
      align-items: center;
    }
    .bt-post {
      &--icon {
        height: 20px;
      }
      &--title {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 20px;
        font-weight: 500;
        a {
          color: $color-primary;
          font-family: $secondary-font;
          font-size: 20px;
          font-weight: 500;
          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}
.bt-elwg-client-loop-item {
  &--default {
    a {
      display: block;
    }
    .bt-post--inner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 45px 15px;
      background: #fff;
      border-radius: 15px;
      border: 1px solid #c6c6c6;
      img {
        max-width: 142px;
        width: 100%;
      }
    }
  }
}

.bt-elwg-highlighted-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    max-width: fit-content;
    z-index: 9;
    color: $color-primary;
    a,
    span {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      color: inherit;
      display: inline-block;
    }

    .bt-small {
      font-size: 72%;
    }
  }

  .__text-highlighted {
    position: relative;
    color: $color-accent;
    img {
      position: absolute;
      min-width: calc(100% + 70%);
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      cursor: pointer;
    }
  }

  &.animationed {
    .__text-highlighted {
      img {
        animation: effectScaleAnimation 2s ease-in-out infinite;
      }
    }
  }
}

.bt-elwg-service-popular {
  &--default {
    .bt-service-popular {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(5, 1fr);
      &.columns-5 {
        @media (max-width: $break-tl) and (min-width: $break-md) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $break-md) and (min-width: $break-sm) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $break-sm) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
        }
      }
      &.columns-4 {
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: $break-md) and (min-width: $break-sm) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $break-sm) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
        }
      }
      &.columns-3 {
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: $break-sm) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
        }
      }
    }
    .bt-post {
      &--inner {
        position: relative;
      }
      &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(24, 29, 41, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--featured {
        .bt-cover-image {
          padding-bottom: calc(1 * 100%);
          border-radius: 0;
        }
      }
      &--title {
        color: #fff;
        text-align: center;
        font-family: $secondary-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        display: block;
        max-width: 200px;
        @media (max-width: $break-lg) and (min-width: $break-tl) {
          font-size: 20px;
          max-width: 175px;
        }
        @media (max-width: $break-xs) {
          font-size: 20px;
          max-width: 175px;
        }
        a {
          color: #fff;
        }
      }
    }
  }
  &--style1 {
    .bt-service-popular {
      display: flex;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      grid-gap: 1.3%;
      @media (max-width: $break-tl) {
        grid-gap: 2%;
      }
    }
    .bt-post {
      width: 24%;
      &:nth-child(n + 5) {
        margin-top: -4%;
      }
      &:nth-child(n + 8) {
        width: 24.2%;
      }
      @media (max-width: $break-tl) {
        width: 32%;
        margin-bottom: 2%;
        &:nth-child(n + 5) {
          margin-top: 0;
        }
        &:nth-child(n + 8) {
          width: 32%;
        }
      }
      @media (max-width: $break-sm) {
        width: 49%;
        margin-bottom: 2%;
        &:nth-child(n + 8) {
          width: 49%;
        }
      }
      &--inner {
        position: relative;
      }
      &--content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 70%;
        transform: translateX(-50%);
        left: 50%;
        @media (max-width: $break-tl) {
          max-width: 100%;
        }
      }
      &--featured {
        max-width: 70%;
        transform: rotate(45deg);
        margin: 0 auto;
        @media (max-width: $break-tl) {
          max-width: 100%;
          transform: rotate(0);
        }
        .bt-cover-image {
          padding-bottom: calc(1 * 100%);
          border-radius: 0;
          img {
            transform: rotate(-90deg);
          }
        }
      }
      &--title {
        text-align: center;
        font-family: $secondary-font;
        font-size: 24px;
        font-weight: 500;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
        color: $color-primary;
        @media (max-width: $break-lg) and (min-width: $break-tl) {
          font-size: 20px;
        }
        @media (max-width: $break-xs) {
          font-size: 20px;
          padding: 10px;
          left: 5px;
          right: 5px;
          top:5px;
          bottom: 5px;
        }
        a {
          color: $color-primary;
        }
      }
    }
  }
}
.bt-elwg-pricing-item {
  .bt-pricing {
    &--featured {
      position: relative;
    }
    &--contentfeatured {
      position: absolute;
      bottom: 0;
      padding: 22px 44px 16px 38px;
      width: 100%;
      background: rgba(233, 108, 167, 0.9);
    }
    &--heading {
      color: #fff;
      font-family: $secondary-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 33px;
      max-width: 200px;
    }
    &--pricetime {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #d9d9d9;
    }
    &--price {
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &--priceafter {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    &--time {
      color: #222;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: #fff;
      padding: 6px 14px 5px 13px;
    }
    &--contentinfo {
      padding: 31px 44px 40px 38px;
      background: #f7f4ef;
      @media (max-width: $break-xs) {
        padding: 30px;
      }
    }
    &--listinfo {
      padding: 0;
      margin-bottom: 40px;
      li {
        display: flex;
        grid-gap: 12px;
        align-items: baseline;
        color: $color-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        svg {
          width: 18px;
          flex-grow: 1;
          flex-shrink: 0;
          max-width: 18px;
        }
        &:not(:last-child) {
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid #d9d9d9;
        }
      }
    }
    &--boxbutton {
      text-align: center;
    }
    &--button {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      padding: 21px 48px;
      background: #e96ca7;
      display: inline-block;
      @media (max-width: $break-xs) {
        padding: 18px 30px;
      }
    }
    &--buttonmore {
      color: $color-text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-top: 10px;
      a {
        color: $color-accent;
        text-decoration-line: underline;
      }
    }
  }
}
.bt-elwg-time-list {
  &--default {
    .bt-time {
      &-list {
        margin: 0;
        list-style: none;
        padding: 0;
      }
      &--item {
        &:not(:last-child) {
          padding-bottom: 14px;
          margin-bottom: 10px;
          border-bottom: 1px solid #c2c2c2;
        }
      }
      &--title {
        color: $color-text;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
      &--date {
        color: $color-accent;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }
    }
  }
}
.elementor-widget-button {
  .elementor-button-icon svg {
    width: fit-content;
  }
}

.elementor-widget-image-box {
  .elementor-image-box {
    &-description {
      a {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
