.elementor-element.bt-site-footer-top{
  > .e-con-inner{
    > .elementor-element{
      @media (min-width: 1025px) and (max-width: 1199.98px) { 
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.elementor-element{
  &.bt-site-footer-bottom{
    > .e-con-inner{
      @media (min-width: 1025px) and (max-width: 1199.98px) { 
        gap: 15px 15px;
      }
  
      > .elementor-element{
        &:nth-child(2){
          @media (min-width: 480px) and (max-width: 767.98px) { 
            flex-wrap: nowrap;
            gap: 15px;
          }
        }
      }
  
      .elementor-widget-heading .elementor-heading-title{
        @media (min-width: 1025px) and (max-width: 1199.98px) { 
          font-size: 20px;
        }
      }
  
      .elementor-nav-menu--main{
        li {
          a{
            @media (min-width: 1025px) and (max-width: 1199.98px) { 
             font-size: 18px !important;
            }
          }
        }
      }
    }
  
    .bt-elwg-site-social {
      a{
        width: 43px;
        height: 43px;
        &:nth-child(4){
          display: none;
        }
      }
    }
  
    .elementor-widget-social-icons{
      .elementor-grid-item{
        .elementor-social-icon{
          &.elementor-social-icon-linkedin-in{
            box-sizing: border-box;
            border:2px solid #4D93E9;
          }
        }
      }
    }
  
    .bt-elwg-site-infor{
      a{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &.bt-footer-style-1{
    > .elementor-element{
      &:first-child{
        h2.elementor-heading-title{
          @media (min-width: 1025px) and (max-width: 1199.98px) { 
            font-size: 20px;
          }
        }

        .elementor-widget-icon-list{

          > .elementor-widget-container{
            @media (min-width: 1200px) and (max-width: 1379.98px) { 
              padding-left: 15px;
            }

            @media (min-width: 1025px) and (max-width: 1199.98px) { 
              padding-left: 10px;
            }
          }

          .elementor-icon-list-item > a{
            @media (min-width: 1200px) and (max-width: 1379.98px) { 
              font-size: 16px;
            }

            @media (min-width: 1025px) and (max-width: 1199.98px) { 
              font-size: 14px;
            }
          }
        }
      }
    }
  } 

  &.bt-footer-style-3{
    > .e-con-inner{
      > .elementor-element{
        &:last-child{
          .elementor-element{
            &:first-child{
              @media (min-width: 1025px) and (max-width: 1279.98px) { 
                gap: 20px;
              }

              .bt-elwg-site-copyright {
                @media (min-width: 1025px) and (max-width: 1279.98px) { 
                  font-size: 17px;
                }
              }
            }

            .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li{
              > a{
                @media (min-width: 1025px) and (max-width: 1279.98px) { 
                  font-size: 17px;
                }
              }

              &:not(:last-child){
                > a{
                  @media (min-width: 1025px) and (max-width: 1199.98px) { 
                    margin-inline-end: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
                  }
                }
              }

              &:not(:first-child){
                > a{
                  @media (min-width: 1025px) and (max-width: 1199.98px) { 
                    margin-inline-start:calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
                  }
                }
              }
            }

          }
        }
      }
    }
  }
  
  &.bt-newsletter-footer-style-3{
    .elementor-widget-shortcode{
      .tnp-subscription-minimal {
        @extend .__bt-newsletter-form-style-2;
      }
    }
  }
}