.elementor-element {
  &.bt-site-footer-main {
    > .e-con-inner {
      > .elementor-element {
        &:not(:last-child) {
          &::after {
            @media (min-width: $break-tl) {
              content: "";
              display: block;
              background: #bfbfbf;
              position: absolute;
              right: 0;
              top: 60px;
              width: 1px;
              height: 122px;
            }
          }
        }
        &:not(:first-child) {
          @media (max-width: 1250px) and (min-width: $break-tl) {
            padding-left: 15px;
          }
        }
        @media (max-width: 1095px) and (min-width: $break-tl) {
          &:first-child {
            width: 30%;
          }
          &:nth-child(2) {
            width: 45%;
          }
        }
        .bt-elwg-site-infor {
          &.bt-elwg-site-infor {
            &--style-1 {
              @media (max-width: 1250px) and (min-width: $break-tl) {
                grid-gap: 15px;
              }
              @media (max-width: $break-xs) {
                grid-gap: 15px;
              }
            }
          }
        }
      }
    }
  }
}
