.bt-field-type-radio{
  display: flex;
  flex-wrap: wrap;
  .item-radio{
    width: 100%;
    position: relative;
    padding-left: 30px;
    min-height: 22px;

    &:has(input:checked){
      svg{
        opacity: 1;
      }
    }

    input[type=radio]{
      position: absolute;
      background: transparent;
      padding: 0;
      width: 22px;
      height: 22px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 9;
      opacity: 0;
    }

    label{
      margin: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      &::before{
        content: "";
        display: inline-block;
        position: absolute;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;
        border: 1px solid #D9D9D9;
        left: 0;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }

    svg{
      width: 100%;
      height: auto;
      max-width: 12px;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      transition: $transition;
      opacity: 0;
      z-index: 8;
      path{
        fill: $color-accent;
      }
    }
  }
}

.select2-container, .elementor-editor-active .select2-container {
  font-size: 15px;
  line-height: 150%;
  min-height: 56px;

  &.select2-container--open{
    .select2-selection--single{
      .select2-selection{
        &__arrow{
          svg{
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .select2-selection--single {
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0 24px;
    gap: 10px;

    .select2-selection{
      &__arrow{
        width: 20px;
        height: auto;
        position: relative;
        svg{
          position: absolute;
          top: 50%;
          left: 50%;
          color: $color-accent;
          margin: -4px 0 0 -7px;
          transition: all .3s;
        }
      }
    }
  }

  &--default {
    .select2-selection--single .select2-selection {
      &__rendered {
        color: $color-text;
        line-height: 56px;
        padding: 0;
      }

      &__arrow {
        width: 40px;
        height: 54px;
      }
    }
    .select2-results__option--highlighted[aria-selected],
    .select2-results__option--highlighted[data-selected] {
      background-color: $color-accent;
    }
    .select2-results>.select2-results__options {
      @extend .__scrollbar_style;
    }
  }
}

.select2-dropdown, .elementor-editor-active .select2-dropdown{
  border: none;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 99999;
  // width: max-content !important;
}

.select2-search--dropdown, .elementor-editor-active .select2-search--dropdown{
  padding: 8px;
  .select2-search__field {
    padding: 6px 16px;
    border-radius: 0;
  }
}
.select2-results__option, .elementor-editor-active .select2-results__option {
  padding: 8px 24px;
}

.bt-container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-start;
  padding-right: $padding-end;
}

.bt-fl-no-mg {
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
}

.bt-image-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  margin: 0;
}

.bt-cover-image {
  position: relative;
  overflow: hidden;
  background: #CDCDCD;
  padding-bottom: 66.66%;
  img {
    @extend .bt-image-absolute;
    transition: all .3s;
  }
}

.bt-cover-iframe {
  position: relative;
  overflow: hidden;
  background: #CDCDCD;
  padding-bottom: 46.5%;
  iframe {
    @extend .bt-image-absolute;
  }
}

.bt-ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes animloadingwave {
  0% { transform: scale(0); opacity: 1;}
  100% { transform: scale(1); opacity: 0;}
}

.bt-loading-wave {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width : 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  &::after , &::before {
    content: '';
    width : 80px;
    height: 80px;
    border-radius: 50%;
    background: $color-accent;
    position: absolute;
    left:0;
    top: 0;
    animation: animloadingwave 2s linear infinite;
  }
  &::after {
    animation-delay: 1s;
  }
}

.bt-tabs {
  .bt-panel-item {
    display: none;
    &.bt-is-active {
      display: block;
    }
  }
}

.__bt-max-line-ellipsis {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.__bt-button-style {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background: $color-accent;
  padding: 16px 40px;
  border: none;
  border-radius: 10px;
  font-family: $primary-font;
  height: auto;
  min-height: auto;
  &:hover,
  &:focus {
    color: #FFFFFF;
    background: $color-accent;
  }

  @media(max-width: $break-xs) {
    font-size: 16px;
    padding: 12px 30px;
  }
}
.__bt-button-dark-style {
  @extend .__bt-button-style;
  background: $color-secondary;
  &:hover,
  &:focus {
    background: $color-secondary;
    border-color: $color-secondary;
  }
}
.__bt-button-outline-style {
  @extend .__bt-button-style;
  color: $color-accent;
  background: #FFFFFF;
  &:hover,
  &:focus {
    color: #FFFFFF;
    background: $color-accent;
  }
}
.__bt-button-outline-dark-style {
  @extend .__bt-button-style;
  color: $color-primary;
  background: #FFFFFF;
  border: 3px solid $color-primary;
  &:hover,
  &:focus {
    color: #FFFFFF;
    background: $color-secondary;
  }
}

.__scrollbar_style {
  overflow-y: auto;
  &::-webkit-scrollbar {
  	width: 3px;
    height: 3px;
    border-radius: 10px;
  	background-color: #F1F1F1;
  }
  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: $color-accent;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
  	border-radius: 10px;
  	background-color: #F1F1F1;
  }
}
.__bt-format-post-content {
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
  h2 {
    font-size: 30px;
    margin: 32px 0 16px;
  }
  h3 {
    font-size: 24px;
    margin: 24px 0 12px;
  }
  blockquote {
    position: relative;
    background: #F1F1F1;
    padding: 30px 30px 30px 125px;
    border-radius: 10px 20px 20px 10px;
    > *:first-child {
      margin-top: 0 !important;
    }
    cite {
      font-weight: 500;
      color: $color-accent;
    }
    .bt-quote-icon {
      position: absolute;
      top: 30px;
      left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 76px;
      height: 76px;
      background: #FFFFFF;
      border-radius: 100px;
      svg {
        color: $color-accent;
      }
    }
  }
  ul {
    list-style: none;
    padding-left: 30px;
    @media(max-width: $break-xs) {
      padding-left: 15px;
    }
    li {
      position: relative;
      padding-left: 36px;
      &:not(:last-child) {
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #D9D9D9;
      }
      .bt-ul-icon {
        position: absolute;
        top: 1px;
        left: 0;
        line-height: 0;
        color: $color-accent;
      }
    }
  }
  .wp-block-media-text {
    gap: 30px 50px;
    &__media {
      overflow: hidden;
      border-radius: 20px;
      img {
        margin: 0 !important
      }
    }
    &__content {
      padding: 0;
      > *:first-child {
        margin-top: 0 !important;
      }
      > *:last-child {
        margin-bottom: 0 !important;
      }
      ul, ol {
        padding-left: 0;
      }
    }
  }
}
.__bt-section-heading-style {
  text-align: center;
  margin-bottom: 32px;
  .bt-sub-text {
    color: $color-accent;
    font-family: $primary-font;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin:0 0 10px 0;
  }
  .bt-main-text {
    position: relative;
    font-size: 60px;
    text-transform: capitalize;
    margin: 0;
    z-index: 1;
    span {
      position: relative;
      display: inline-block;
      font-family: $secondary-font;
      color: $color-accent;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -20%;
        width: 140%;
        height: 100%;
        background-image: url('../images/text-highlighted-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
    }
  }
  .bt-head-text {
    font-size: 20px;
    max-width: 640px;
    margin: 10px auto 0;
  }
  @media(max-width: $break-lg) {
    .bt-main-text {
      font-size: 46px;
    }
  }
  @media(max-width: $break-md) {
    .bt-sub-text {
      font-size: 18px;
    }
    .bt-main-text {
      font-size: 40px;
    }
    .bt-head-text {
      font-size: 18px;
      max-width: 560px;
    }
  }
  @media(max-width: $break-sm) {
    .bt-main-text {
      font-size: 36px;
    }
  }
  @media(max-width: $break-xs) {
    .bt-sub-text {
      font-size: 16px;
    }
    .bt-main-text {
      font-size: 32px;
    }
    .bt-head-text {
      font-size: 16px;
      max-width: 560px;
    }
  }
}

.__bt-block-heading-style {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 166.667%;
  margin: 0 0 14px 0 ;
  padding-left: 19px;
  @media(max-width: $break-sm) {
    font-size: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 5px;
    height: 100%;
    background: $color-accent;
    max-height: 36px;
    transform: translateY(-50%);
  }
}

.__bt-pagination-style {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 42px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $color-primary;
    background: transparent;
    border-radius: 10px;
    &:not(.current, .dots):hover {
      color: $color-accent;
    }
    &.current {
      width: 42px;
      color: #FFFFFF;
      background: $color-accent;
    }
    &.prev, &.next {
      width: 42px;
      font-size: 0;
    }
    &.prev {
      margin-right: 20px;
    }
    &.next {
      margin-left: 20px;
    }
    &.dots {
      width: auto;
    }
  }
  @media(max-width: $break-xs) {
    &.prev {
      margin-right: 0;
    }
    &.next {
      margin-left: 0;
    }
  }
}

.__avg-rating-style {
  display: flex;
  align-items: center;
  gap: 4px;
  .bt-rating-stars {
    display: flex;
    gap: 4px;
    font-size: 0;
    line-height: 0;
    span {
      position: relative;
      color: #CDCDCD;
      &.bt-filled {
        color: #EFCF0A;
      }
      &.bt-filled-half {
        position: relative;
        svg:last-child {
          position: absolute;
          top: 0;
          left: 0;
          fill: #EFCF0A;
        }
      }
      svg {
        fill: currentColor;
        width: 16px;
        height: auto;
      }
    }
  }
  .bt-rating-count {
    font-size: 16px;
  }
}

.__bt-socials-style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  span {
    display: inline-block;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: $color-primary;
    margin-right: 9.88px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    color: #FFF;
    background: $color-accent;
    border-radius: 100px;
    &.bt-facebook {
      background: #186CB0;
    }
    &.bt-linkedin {
      background: #074682;
    }
    &.bt-twitter {
      background: #00B3D3;
    }
    &.bt-google {
      background: $color-accent;
    }
    svg {
      fill: currentColor;
    }
  }
}

.__bt-contact-information-style {
  .bt-contact-information {
    background: $color-accent;
    padding: 58px 40px;
    border-radius: 15px;
    &--head {
      font-family: $secondary-font;
      font-size: 30px;
      color: #FFF;
      margin: 0 0 5px;
    }
    &--desc {
      font-size: 18px;
      line-height: 156%;
      color: #ffffff;
    }
    &--button {
      @extend .__bt-button-dark-style;
      text-transform: uppercase;
      margin-top: 32px;

    }
    &--social {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;
      margin-top: 46px;
      a {
        display: inline-block;
        line-height: 0;
      }
      img {
        width: auto;
        height: 32px;
      }
    }
  }
  @media(max-width: $break-xs) {
    .bt-contact-information {
      padding: 36px 20px;
      &--head {
        font-size: 24px;
      }
      &--desc {
        font-size: 16px;
      }
    }
  }
}

.__instagram-posts-style {
  .bt-ins-posts {
    &--head {
      font-family: $primary-font;
      font-size: 26px;
      font-weight: 700;
      line-height: 150%;
      color: $color-primary;
      margin: 0 0 20px;
      span {
        font-family: $secondary-font;
        color: $color-accent;
      }
    }
    &--gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      &.bt-cols--2 {
        .bt-ins-posts--image {
          width: calc(50% - 5px);
        }
      }
      &.bt-cols--3 {
        .bt-ins-posts--image {
          width: calc(33.33% - 6.7px);
        }
      }
      &.bt-cols--4 {
        .bt-ins-posts--image {
          width: calc(25% - 7.5px);
        }
      }
    }
    &--image {
      width: calc(33.33% - 6.7px);
      .bt-cover-image {
        padding-bottom: 100%;
        border-radius: 15px;
      }
    }
    &--link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      text-decoration: underline;
      color: $color-accent;
      margin-top: 16px;
      svg {
        fill: currentColor;
      }
    }
  }
}

/* Request Box */
.bt-srq-box {
  text-align: center;
  color: #FFF;
  background: $color-secondary;
  padding: 40px 20px 20px;
  border-radius: 15px;
  &--icon {
    line-height: 0;
    margin-bottom: 10px;
    img {
      width: 54px;
      height: auto;
    }
  }
  &--infor {
    max-width: 280px;
    margin: 0 auto;
  }
  &--title {
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    margin: 0 0 12px;
  }
  &--book-link {
    @extend .__bt-button-style;
    text-transform: uppercase;
    display: block;
    margin-top: 36px;
  }
}

/* Social Media Channels */
.__bt-social-mcn-style-1 {
  .bt-social-mcn {
    &--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      .bt-social {
        width: calc(25% - 23px);
        &--inner {
          display: flex;
          flex-direction: column;
          gap: 20px;
          background: #FFF;
          padding: 40px;
          border-radius: 15px;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        }
        &--icon {
          line-height: 0;
          min-width: 72px;
          img {
            width: auto;
            height: 52px;
          }
        }
        &--count {
          position: relative;
          font-family: $primary-font;
          font-size: 36px;
          font-weight: 700;
          line-height: 125%;
          color: #222;
          z-index: 1;
          &:after {
            content: "";
            position: absolute;
            top: -16px;
            left: 32px;
            width: 64px;
            height: 64px;
            background: #F5F5F5;
            z-index: -1;
            border-radius: 1000px;
          }
        }
        &--title {
          line-height: 150%;
          margin-bottom: 15px;
        }
        &--link {
          display: inline-block;
          font-family: $primary-font;
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          text-decoration: underline;
          color: $color-accent;
        }
      }
    }

    @media(max-width: $break-md) {
      &--list .bt-social {
        width: calc(50% - 15px);
        &--inner {
          flex-direction: row;
          padding: 30px;
        }
      }
    }
    @media(max-width: $break-sm) {
      &--list .bt-social {
        width: 100%;
      }
    }
  }
}

.__bt-social-mcn-style-2 {
  .bt-social-mcn {
    &--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      .bt-social {
        width: calc(33.33% - 20px);
        &--inner {
          display: flex;
          gap: 24px;
          background: #FFF;
          padding: 40px 45px;
          border-radius: 15px;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        }
        &--icon {
          position: relative;
          width: 70px;
          line-height: 0;
          z-index: 1;
          &:after {
            content: "";
            position: absolute;
            top: 8px;
            right: -8px;
            width: 64px;
            height: 64px;
            background: #F5F5F5;
            z-index: -1;
            border-radius: 1000px;
          }
          img {
            max-width: 100%;
            width: auto;
            height: 52px;
          }
        }
        &--infor {
          width: calc(100% - 94px);
        }
        &--count {
          font-family: $primary-font;
          font-size: 36px;
          font-weight: 700;
          line-height: 125%;
          color: #222;
        }
        &--title {
          line-height: 150%;
          margin-bottom: 15px;
        }
        &--link {
          display: inline-block;
          font-family: $primary-font;
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          text-decoration: underline;
          color: $color-accent;
        }
      }
    }

    @media(max-width: $break-md) {
      &--list .bt-social {
        width: calc(50% - 15px);
      }
    }

    @media(max-width: $break-sm) {
      &--list .bt-social {
        width: 100%;
      }
    }

    @media(max-width: $break-xs) {
      &--heading {
        max-width: 430px;
      }
    }
  }
}

.bt-social-mcn-ss {
  &.bt-style-1 {
    @extend .__bt-social-mcn-style-1;
    position: relative;
    background-color: #f7f7f7;
    padding: 80px 0 135px;
    @media(max-width: $break-sm) {
      padding: 60px 0 105px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/bg-ellen-qin.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2;
      z-index: 3;
    }
    .bt-social-mcn-ss {
      &--content {
        position: relative;
        z-index: 5;
      }
      &--heading {
        @extend .__bt-section-heading-style;
        max-width: 560px;
        margin: 0 auto 40px;
        .bt-sub-text {
          text-transform: capitalize;
        }
        @media(max-width: $break-xs) {
          max-width: 430px;
        }
      }
    }
  }

  &.bt-style-2 {
    @extend .__bt-social-mcn-style-2;
    position: relative;
    background-color: $color-accent;
    padding: 80px 0 135px;
    @media(max-width: $break-sm) {
      padding: 60px 0 105px;
    }
    .bt-social-mcn-ss {
      &--heading {
        @extend .__bt-section-heading-style;
        max-width: 560px;
        margin: 0 auto 40px;
        .bt-sub-text {
          text-transform: capitalize;
          color: #FFF;
        }
        .bt-main-text {
          color: #FFF;
          span {
            color: inherit;
          }
        }
        .bt-head-text {
          color: #FFF;
        }
        @media(max-width: $break-xs) {
          max-width: 430px;
        }
      }
    }
  }
}


.__bt-newsletter-form-style{
  form {
    position: relative;
    text-align: left !important;
    input.tnp-email {
      width: 100%;
      max-width: calc(100% - 30px);
      border-radius: 15px;
      border:none;
      background-color: #FFF;
      background-image: url('../images/envelope.svg');
      background-repeat: no-repeat;
      background-position: center left 37px;
      margin: 0;
      padding: 29.22px 210px 27.78px 66.7px;
      height: 79px;

      @media (max-width: 1024.98px) {
        padding: 29.22px 160px 27.78px 50.7px;
        background-position: center left 20px;
      }

      @media (max-width: 767.98px) {
        height: 70px;
        padding: 20px 105px 20px 42px;
        background-position: center left 15px;
      }

      @media (max-width: 359.98px) {
        max-width: 100%;
        padding-right: 15px;
      }
    }

    input.tnp-email, input.tnp-email::placeholder{
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $color-text;
      font-family: $text-font;
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
    }

    input.tnp-submit {
      position: absolute;
      top: 50%;
      right: 0;
      width: unset;
      min-width: 216px;
      font-size: 16px;
      font-family: $text-font;
      font-style: normal;
      font-weight: 700;
      line-height: 160.2%;
      text-transform: uppercase;
      color: #FFF;
      background: $color-secondary;
      padding: 0px 43px;
      border-radius: 10px;
      transform: translateY(-50%);
      height:57px;
      min-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      @media (max-width: 1024.98px) {
        min-width: 150px;
        padding: 0 22px;
      }

      @media (max-width: 767.98px) {
        height: 47px;
      }

      @media (max-width: 575.98px) {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: unset;
        width: 130px;
        padding: 0 5px;
      }

      @media (max-width: 359.98px) {
        position: relative;
        top: inherit;
        bottom: inherit;
        transform: translate(0, 0);
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}

.__bt-newsletter-form-style-2{
  @extend .__bt-newsletter-form-style;
  form {
    &::before, &::after{
      content: " ";
      display: inline-block;
      position: absolute;
    }

    &::before{
      width: 9px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/arrow-submit.png);
      bottom: 8px;
      right: 30px;
      z-index: 9;
    }

    &::after{
      width: 45px;
      height: 48px;
      background-color: $color-secondary;
      bottom: 8px;
      right: 28px;
      bottom: -9px;
      right: 13px;
      border-radius: 10px;
      z-index: 8;
    }

    input{
      &.tnp-email, &.tnp-email::placeholder{
        font-size: 16px;
        line-height: normal;
      }

      &.tnp-email{
        height: 53px;
        padding: 16px 67px 16px 58px;
        max-width: 100%;
        background-position: center left 26px;
      }

      &.tnp-submit{
        font-size: 0;
        width: 45px;
        height: 48px;
        border-radius: 10px;
        min-width: 45px;
        padding: 0;
        top: inherit;
        transform: translateY(0);
        bottom: -9px;
        right: 13px;
        background-color: transparent;
        z-index: 10;
      }
    }
  }
}
