.__bt-heading-style{
    @media (min-width: 1200px) and (max-width: 1439.98px) { 
        font-size: 55px;
    }

    @media (min-width: 1025px) and (max-width: 1199.98px) { 
        font-size: 45px;
    }
}

.__bt-pd-container-full-width{
    > .elementor-element {
        &:first-child{
            @media (min-width: 1450px) {
                padding-left: calc((100% - var(--container-max-width)) / 2);
            }
        }

        &:last-child{
            @media (min-width: 1450px) {
                padding-right: calc((100% - var(--container-max-width)) / 2);
            }
        }
    }
}


.elementor-element{

}