.__bt-service-style-default {
  .bt-post {
    &:hover {
      .bt-post {
        &--inner {
          background: #F0F0F0;
          border-color: #F0F0F0;
        }

        &--title{
          a{
            color: inherit;
          }
        }
      }
    }

    &--inner, &--icon{
      -webkit-transition: all .3s;
      transition: all .3s;
    }

    &--inner {
      box-sizing: border-box;
      text-align: center;
      background: #FFF;
      padding: 48px 8% 50px 8%;
      border-radius: 20px;
      border: 5px solid #F0F0F0;
    }

    &--icon {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      &-inner{
        svg{
          path{
            fill:$color-accent;
          }
        }
      }
    }

    &--title {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 133.2%;
      margin: 21px 0 0 0;
    }

    &--excerpt,  &--descc{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 165%;
    }

    &--excerpt {
      @extend .__bt-max-line-ellipsis;
      margin: 8px  0 0 0;
    }

    &--desc{
      margin: 10px 0 0 0;
    }
    
  }
}

