/*
* Global
*/
/*
 * Fonts
 */
/*
 * colors
 */
/* Layout */
/* Breakpoints */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Fp2ywxg089UriCZa4ET-DNl0.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Fp2ywxg089UriCZa4Hz-D.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZ2IHSeH.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4cjBXOCl9bbnla_nHIq6qu_oqOcaThr.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4clBXOCl9bbnla_nHIq4Zu9qKS-awhq.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4clBXOCl9bbnla_nHIq75u9qKS-aw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
html :where(.editor-styles-wrapper) {
  font-family: var(--e-global-typography-text-font-family, "DM Sans"); }

.widget *:focus {
  outline: 0; }
.widget a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .widget a:hover, .widget a:focus {
    color: var(--e-global-color-accent, #E96CA7); }
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  font-weight: 700;
  line-height: 130%;
  color: var(--e-global-color-primary, #222); }
.widget input, .widget input[type="search"], .widget input[type="text"], .widget input[type="password"],
.widget input[type="email"], .widget input[type="tel"], .widget select, .widget textarea {
  font-size: 16px;
  line-height: 24px;
  background: #FFFFFF;
  padding: 16px 24px;
  border: 1px solid #C7C7C7;
  border-radius: 15px; }
.widget input {
  min-height: 58px; }
.widget select {
  height: 58px;
  width: 100%;
  cursor: pointer;
  padding-right: 35px;
  background-image: url("../images/alt-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.widget button, .widget input[type="submit"] {
  min-height: 58px;
  cursor: pointer; }
.widget label {
  display: block;
  margin-bottom: 4px; }

.bt-comment-stars {
  display: flex;
  gap: 4px;
  font-size: 0;
  line-height: 0; }
  .bt-comment-stars span.bt-filled svg {
    fill: #EFCF0A; }
  .bt-comment-stars span svg {
    fill: #CDCDCD;
    width: 16px;
    height: auto; }

.bt-field-type-radio {
  display: flex;
  flex-wrap: wrap; }
  .bt-field-type-radio .item-radio {
    width: 100%;
    position: relative;
    padding-left: 30px;
    min-height: 22px; }
    .bt-field-type-radio .item-radio:has(input:checked) svg {
      opacity: 1; }
    .bt-field-type-radio .item-radio input[type="radio"] {
      position: absolute;
      background: transparent;
      padding: 0;
      width: 22px;
      height: 22px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 9;
      opacity: 0; }
    .bt-field-type-radio .item-radio label {
      margin: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400; }
      .bt-field-type-radio .item-radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid #d9d9d9;
        left: 0;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-50%); }
    .bt-field-type-radio .item-radio svg {
      width: 100%;
      height: auto;
      max-width: 12px;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.25s ease-in-out;
      opacity: 0;
      z-index: 8; }
      .bt-field-type-radio .item-radio svg path {
        fill: var(--e-global-color-accent, #E96CA7); }

.select2-container,
.elementor-editor-active .select2-container {
  font-size: 15px;
  line-height: 150%;
  min-height: 56px; }
  .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow svg,
  .elementor-editor-active .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow svg {
    transform: rotate(180deg); }
  .select2-container .select2-selection--single,
  .elementor-editor-active .select2-container .select2-selection--single {
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #8c8c8c;
    gap: 10px;
    height: 58px;
    background: transparent; }
    .select2-container .select2-selection--single .select2-selection__arrow,
    .elementor-editor-active .select2-container .select2-selection--single .select2-selection__arrow {
      width: 20px;
      height: auto;
      position: relative; }
      .select2-container .select2-selection--single .select2-selection__arrow svg,
      .elementor-editor-active .select2-container .select2-selection--single .select2-selection__arrow svg {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--e-global-color-accent, #E96CA7);
        margin: -4px 0 0 -13px;
        transition: all 0.3s; }
  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .elementor-editor-active .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--e-global-color-text, #555);
    line-height: 56px;
    padding: 0; }
  .select2-container--default .select2-selection--single .select2-selection__arrow,
  .elementor-editor-active .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 40px;
    height: 54px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected],
  .select2-container--default .select2-results__option--highlighted[data-selected],
  .elementor-editor-active .select2-container--default .select2-results__option--highlighted[aria-selected],
  .elementor-editor-active .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--e-global-color-accent, #E96CA7); }

.select2-dropdown,
.elementor-editor-active .select2-dropdown {
  border: none;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 99999; }

.select2-search--dropdown,
.elementor-editor-active .select2-search--dropdown {
  padding: 8px; }
  .select2-search--dropdown .select2-search__field,
  .elementor-editor-active .select2-search--dropdown .select2-search__field {
    padding: 6px 16px;
    border-radius: 0; }

.select2-results__option,
.elementor-editor-active .select2-results__option {
  padding: 8px 24px; }

.bt-container {
  max-width: var(--container-max-width, 1420px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-default-padding-block-start, 15px);
  padding-right: var(--container-default-padding-block-end, 15px); }

.bt-fl-no-mg > *:first-child {
  margin-top: 0 !important; }
.bt-fl-no-mg > *:last-child {
  margin-bottom: 0 !important; }

.bt-image-absolute, .bt-cover-image img, .bt-cover-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  margin: 0; }

.bt-cover-image {
  position: relative;
  overflow: hidden;
  background: #cdcdcd;
  padding-bottom: 66.66%; }
  .bt-cover-image img {
    transition: all 0.3s; }

.bt-cover-iframe {
  position: relative;
  overflow: hidden;
  background: #cdcdcd;
  padding-bottom: 46.5%; }

.bt-ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@keyframes animloadingwave {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
.bt-loading-wave {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%); }
  .bt-loading-wave::after, .bt-loading-wave::before {
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--e-global-color-accent, #E96CA7);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloadingwave 2s linear infinite; }
  .bt-loading-wave::after {
    animation-delay: 1s; }

.bt-tabs .bt-panel-item {
  display: none; }
  .bt-tabs .bt-panel-item.bt-is-active {
    display: block; }

.__bt-max-line-ellipsis, .bt-block-recent-posts .bt-post--title {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.__bt-button-style, .widget button, .widget input[type="submit"], .__bt-button-dark-style, .__bt-contact-information-style .bt-contact-information--button, .__bt-button-outline-style, .__bt-button-outline-dark-style, .bt-srq-box--book-link {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: var(--e-global-color-accent, #E96CA7);
  padding: 16px 40px;
  border: none;
  border-radius: 0;
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  height: auto;
  min-height: auto; }
  .__bt-button-style:hover, .widget button:hover, .widget input[type="submit"]:hover, .__bt-button-dark-style:hover, .__bt-contact-information-style .bt-contact-information--button:hover, .__bt-button-outline-style:hover, .__bt-button-outline-dark-style:hover, .bt-srq-box--book-link:hover, .__bt-button-style:focus, .widget button:focus, .widget input[type="submit"]:focus, .__bt-button-dark-style:focus, .__bt-contact-information-style .bt-contact-information--button:focus, .__bt-button-outline-style:focus, .__bt-button-outline-dark-style:focus, .bt-srq-box--book-link:focus {
    color: #ffffff;
    background: var(--e-global-color-accent, #E96CA7); }
  @media (max-width: 519.98px) {
    .__bt-button-style, .widget button, .widget input[type="submit"], .__bt-button-dark-style, .__bt-contact-information-style .bt-contact-information--button, .__bt-button-outline-style, .__bt-button-outline-dark-style, .bt-srq-box--book-link {
      font-size: 16px;
      padding: 12px 30px; } }

.__bt-button-dark-style, .__bt-contact-information-style .bt-contact-information--button {
  background: var(--e-global-color-secondary, #111); }
  .__bt-button-dark-style:hover, .__bt-contact-information-style .bt-contact-information--button:hover, .__bt-button-dark-style:focus, .__bt-contact-information-style .bt-contact-information--button:focus {
    background: var(--e-global-color-secondary, #111);
    border-color: var(--e-global-color-secondary, #111); }

.__bt-button-outline-style {
  color: var(--e-global-color-accent, #E96CA7);
  background: #ffffff; }
  .__bt-button-outline-style:hover, .__bt-button-outline-style:focus {
    color: #ffffff;
    background: var(--e-global-color-accent, #E96CA7); }

.__bt-button-outline-dark-style {
  color: var(--e-global-color-primary, #222);
  background: #ffffff;
  border: 3px solid var(--e-global-color-primary, #222); }
  .__bt-button-outline-dark-style:hover, .__bt-button-outline-dark-style:focus {
    color: #ffffff;
    background: var(--e-global-color-secondary, #111); }

.__scrollbar_style, .select2-container--default .select2-results > .select2-results__options,
.elementor-editor-active .select2-container--default .select2-results > .select2-results__options {
  overflow-y: auto; }
  .__scrollbar_style::-webkit-scrollbar, .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar,
  .elementor-editor-active .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background-color: #f1f1f1; }
  .__scrollbar_style::-webkit-scrollbar-thumb, .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb,
  .elementor-editor-active .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--e-global-color-accent, #E96CA7);
    cursor: pointer; }
  .__scrollbar_style::-webkit-scrollbar-track, .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track,
  .elementor-editor-active .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1; }

.__bt-format-post-content > *:first-child {
  margin-top: 0 !important; }
.__bt-format-post-content > *:last-child {
  margin-bottom: 0 !important; }
.__bt-format-post-content h2 {
  font-size: 30px;
  margin: 32px 0 16px;
  color: var(--e-global-color-primary, #222);
  font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize; }
.__bt-format-post-content h3 {
  font-size: 24px;
  margin: 24px 0 12px;
  color: var(--e-global-color-primary, #222);
  font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize; }
.__bt-format-post-content blockquote {
  position: relative;
  background: #f1f1f1;
  padding: 62px 62px 47px 129px;
  margin-left: 55px;
  margin-right: 55px;
  background: #f7f4ef;
  border: none;
  color: var(--e-global-color-text, #555);
  font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }
  .__bt-format-post-content blockquote > *:first-child {
    margin-top: 0 !important; }
  @media (max-width: 1100px) and (min-width: 992px) {
    .__bt-format-post-content blockquote {
      margin-left: 15px;
      margin-right: 15px; } }
  .__bt-format-post-content blockquote cite {
    color: var(--e-global-color-accent, #E96CA7);
    font-family: var(--e-global-typography-primary-font-family, "DM Sans");
    font-size: 18px;
    font-weight: 700;
    line-height: 164.7%;
    font-style: normal; }
  .__bt-format-post-content blockquote .bt-quote-icon {
    position: absolute;
    top: 47px;
    left: 52px; }
    .__bt-format-post-content blockquote .bt-quote-icon svg {
      width: 60px;
      height: 60px;
      color: var(--e-global-color-accent, #E96CA7); }
  @media (max-width: 600px) {
    .__bt-format-post-content blockquote {
      margin-left: 0;
      margin-right: 0;
      padding: 30px 30px 30px 70px;
      font-size: 20px;
      line-height: 1.4; }
      .__bt-format-post-content blockquote cite {
        font-size: 16px; }
      .__bt-format-post-content blockquote .bt-quote-icon {
        top: 25px;
        left: 15px; }
        .__bt-format-post-content blockquote .bt-quote-icon svg {
          width: 40px;
          height: 40px; } }
.__bt-format-post-content ul {
  list-style: none;
  padding-left: 43px; }
  @media (max-width: 519.98px) {
    .__bt-format-post-content ul {
      padding-left: 15px; } }
  .__bt-format-post-content ul li {
    position: relative;
    padding-left: 26px;
    margin-bottom: 10px; }
    .__bt-format-post-content ul li:not(:last-child) {
      margin-bottom: 15px; }
    .__bt-format-post-content ul li .bt-ul-icon {
      position: absolute;
      top: 4px;
      left: 0;
      line-height: 0;
      color: var(--e-global-color-accent, #E96CA7); }
.__bt-format-post-content .wp-block-media-text {
  margin-top: 52px;
  gap: 30px; }
  @media (max-width: 600px) {
    .__bt-format-post-content .wp-block-media-text {
      margin-top: 32px; } }
  .__bt-format-post-content .wp-block-media-text__media {
    overflow: hidden; }
    .__bt-format-post-content .wp-block-media-text__media img {
      margin: 0 !important; }
  .__bt-format-post-content .wp-block-media-text__content {
    padding: 0; }
    .__bt-format-post-content .wp-block-media-text__content > *:first-child {
      margin-top: 0 !important; }
    .__bt-format-post-content .wp-block-media-text__content > *:last-child {
      margin-bottom: 0 !important; }
    .__bt-format-post-content .wp-block-media-text__content ul,
    .__bt-format-post-content .wp-block-media-text__content ol {
      padding-left: 0; }

.__bt-section-heading-style, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading {
  text-align: center;
  margin-bottom: 32px; }
  .__bt-section-heading-style .bt-sub-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-sub-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-sub-text {
    color: var(--e-global-color-accent, #E96CA7);
    font-family: var(--e-global-typography-primary-font-family, "DM Sans");
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 10px 0; }
  .__bt-section-heading-style .bt-main-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text {
    position: relative;
    font-size: 60px;
    text-transform: capitalize;
    margin: 0;
    z-index: 1; }
    .__bt-section-heading-style .bt-main-text span, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text span, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text span {
      position: relative;
      display: inline-block;
      font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
      color: var(--e-global-color-accent, #E96CA7); }
      .__bt-section-heading-style .bt-main-text span:before, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text span:before, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text span:before {
        content: "";
        position: absolute;
        top: 0;
        left: -20%;
        width: 140%;
        height: 100%;
        background-image: url("../images/text-highlighted-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1; }
  .__bt-section-heading-style .bt-head-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-head-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-head-text {
    font-size: 20px;
    max-width: 640px;
    margin: 10px auto 0; }
  @media (max-width: 1199.98px) {
    .__bt-section-heading-style .bt-main-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text {
      font-size: 46px; } }
  @media (max-width: 991.98px) {
    .__bt-section-heading-style .bt-sub-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-sub-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-sub-text {
      font-size: 18px; }
    .__bt-section-heading-style .bt-main-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text {
      font-size: 40px; }
    .__bt-section-heading-style .bt-head-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-head-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-head-text {
      font-size: 18px;
      max-width: 560px; } }
  @media (max-width: 767.98px) {
    .__bt-section-heading-style .bt-main-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text {
      font-size: 36px; } }
  @media (max-width: 519.98px) {
    .__bt-section-heading-style .bt-sub-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-sub-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-sub-text {
      font-size: 16px; }
    .__bt-section-heading-style .bt-main-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-main-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text {
      font-size: 32px; }
    .__bt-section-heading-style .bt-head-text, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-head-text, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-head-text {
      font-size: 16px;
      max-width: 560px; } }

.__bt-block-heading-style, .widget .wp-block-heading,
.widget .wg-title,
.widget .widget-title {
  position: relative;
  margin: 0 0 20px 0;
  color: var(--e-global-color-primary, #222);
  font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 92.308%;
  letter-spacing: 0.2px;
  padding-left: 23px; }
  @media (max-width: 767.98px) {
    .__bt-block-heading-style, .widget .wp-block-heading,
    .widget .wg-title,
    .widget .widget-title {
      font-size: 20px; } }
  .__bt-block-heading-style:before, .widget .wp-block-heading:before,
  .widget .wg-title:before,
  .widget .widget-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 100%;
    background: var(--e-global-color-accent, #E96CA7);
    max-height: 30px;
    transform: translateY(-50%); }

.__bt-pagination-style {
  display: flex;
  justify-content: center;
  margin-top: 60px; }
  .__bt-pagination-style .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 42px;
    font-family: var(--e-global-typography-primary-font-family, "DM Sans");
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    color: var(--e-global-color-primary, #222);
    background: transparent; }
    .__bt-pagination-style .page-numbers:not(.current, .dots):hover {
      color: var(--e-global-color-accent, #E96CA7); }
      .__bt-pagination-style .page-numbers:not(.current, .dots):hover svg path {
        fill: var(--e-global-color-accent, #E96CA7); }
    .__bt-pagination-style .page-numbers.current {
      width: 42px;
      color: #ffffff;
      background: var(--e-global-color-accent, #E96CA7); }
    .__bt-pagination-style .page-numbers.prev, .__bt-pagination-style .page-numbers.next {
      width: 42px;
      font-size: 0; }
    .__bt-pagination-style .page-numbers.prev {
      margin-right: 20px; }
    .__bt-pagination-style .page-numbers.next {
      margin-left: 20px; }
    .__bt-pagination-style .page-numbers.dots {
      width: auto; }
  @media (max-width: 519.98px) {
    .__bt-pagination-style.prev {
      margin-right: 0; }
    .__bt-pagination-style.next {
      margin-left: 0; } }

.__avg-rating-style {
  display: flex;
  align-items: center;
  gap: 4px; }
  .__avg-rating-style .bt-rating-stars {
    display: flex;
    gap: 4px;
    font-size: 0;
    line-height: 0; }
    .__avg-rating-style .bt-rating-stars span {
      position: relative;
      color: #cdcdcd; }
      .__avg-rating-style .bt-rating-stars span.bt-filled {
        color: #efcf0a; }
      .__avg-rating-style .bt-rating-stars span.bt-filled-half {
        position: relative; }
        .__avg-rating-style .bt-rating-stars span.bt-filled-half svg:last-child {
          position: absolute;
          top: 0;
          left: 0;
          fill: #efcf0a; }
      .__avg-rating-style .bt-rating-stars span svg {
        fill: currentColor;
        width: 16px;
        height: auto; }
  .__avg-rating-style .bt-rating-count {
    font-size: 16px; }

.__bt-socials-style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px; }
  .__bt-socials-style span {
    display: inline-block;
    font-family: var(--e-global-typography-primary-font-family, "DM Sans");
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: var(--e-global-color-primary, #222);
    margin-right: 9.88px; }
  .__bt-socials-style a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    color: #fff;
    background: var(--e-global-color-accent, #E96CA7);
    border-radius: 100px; }
    .__bt-socials-style a.bt-facebook {
      background: #186cb0; }
    .__bt-socials-style a.bt-linkedin {
      background: #074682; }
    .__bt-socials-style a.bt-twitter {
      background: #00b3d3; }
    .__bt-socials-style a.bt-google {
      background: #ffffff; }
    .__bt-socials-style a svg {
      fill: currentColor; }

.__bt-contact-information-style .bt-contact-information {
  background: var(--e-global-color-accent, #E96CA7);
  padding: 58px 40px;
  border-radius: 15px; }
  .__bt-contact-information-style .bt-contact-information--head {
    font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
    font-size: 30px;
    color: #fff;
    margin: 0 0 5px; }
  .__bt-contact-information-style .bt-contact-information--desc {
    font-size: 18px;
    line-height: 156%;
    color: #ffffff; }
  .__bt-contact-information-style .bt-contact-information--button {
    text-transform: uppercase;
    margin-top: 32px; }
  .__bt-contact-information-style .bt-contact-information--social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 46px; }
    .__bt-contact-information-style .bt-contact-information--social a {
      display: inline-block;
      line-height: 0; }
    .__bt-contact-information-style .bt-contact-information--social img {
      width: auto;
      height: 32px; }
@media (max-width: 519.98px) {
  .__bt-contact-information-style .bt-contact-information {
    padding: 36px 20px; }
    .__bt-contact-information-style .bt-contact-information--head {
      font-size: 24px; }
    .__bt-contact-information-style .bt-contact-information--desc {
      font-size: 16px; } }

.__instagram-posts-style .bt-ins-posts--head, .bt-block-instagram-posts .bt-ins-posts--head {
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  color: var(--e-global-color-primary, #222);
  margin: 0 0 20px; }
  .__instagram-posts-style .bt-ins-posts--head span, .bt-block-instagram-posts .bt-ins-posts--head span {
    font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
    color: var(--e-global-color-accent, #E96CA7); }
.__instagram-posts-style .bt-ins-posts--gallery, .bt-block-instagram-posts .bt-ins-posts--gallery {
  display: grid;
  column-gap: 12px;
  row-gap: 17px; }
  .__instagram-posts-style .bt-ins-posts--gallery.bt-cols--2, .bt-block-instagram-posts .bt-ins-posts--gallery.bt-cols--2 {
    grid-template-columns: repeat(2, 1fr); }
  .__instagram-posts-style .bt-ins-posts--gallery.bt-cols--3, .bt-block-instagram-posts .bt-ins-posts--gallery.bt-cols--3 {
    grid-template-columns: repeat(3, 1fr); }
  .__instagram-posts-style .bt-ins-posts--gallery.bt-cols--4, .bt-block-instagram-posts .bt-ins-posts--gallery.bt-cols--4 {
    grid-template-columns: repeat(4, 1fr); }
.__instagram-posts-style .bt-ins-posts--image .bt-cover-image, .bt-block-instagram-posts .bt-ins-posts--image .bt-cover-image {
  padding-bottom: 100%; }
.__instagram-posts-style .bt-ins-posts--link, .bt-block-instagram-posts .bt-ins-posts--link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: underline;
  color: var(--e-global-color-accent, #E96CA7);
  margin-top: 16px; }
  .__instagram-posts-style .bt-ins-posts--link svg, .bt-block-instagram-posts .bt-ins-posts--link svg {
    fill: currentColor; }

/* Request Box */
.bt-srq-box {
  text-align: center;
  color: #fff;
  background: var(--e-global-color-secondary, #111);
  padding: 40px 20px 20px;
  border-radius: 15px; }
  .bt-srq-box--icon {
    line-height: 0;
    margin-bottom: 10px; }
    .bt-srq-box--icon img {
      width: 54px;
      height: auto; }
  .bt-srq-box--infor {
    max-width: 280px;
    margin: 0 auto; }
  .bt-srq-box--title {
    font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 12px; }
  .bt-srq-box--book-link {
    text-transform: uppercase;
    display: block;
    margin-top: 36px; }

/* Social Media Channels */
.__bt-social-mcn-style-1 .bt-social-mcn--list, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; }
  .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social {
    width: calc(25% - 23px); }
    .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--inner, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--inner {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: #fff;
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25); }
    .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--icon, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--icon {
      line-height: 0;
      min-width: 72px; }
      .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--icon img, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--icon img {
        width: auto;
        height: 52px; }
    .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--count, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--count {
      position: relative;
      font-family: var(--e-global-typography-primary-font-family, "DM Sans");
      font-size: 36px;
      font-weight: 700;
      line-height: 125%;
      color: #222;
      z-index: 1; }
      .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--count:after, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--count:after {
        content: "";
        position: absolute;
        top: -16px;
        left: 32px;
        width: 64px;
        height: 64px;
        background: #f5f5f5;
        z-index: -1;
        border-radius: 1000px; }
    .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--title, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--title {
      line-height: 150%;
      margin-bottom: 15px; }
    .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--link, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--link {
      display: inline-block;
      font-family: var(--e-global-typography-primary-font-family, "DM Sans");
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      text-decoration: underline;
      color: var(--e-global-color-accent, #E96CA7); }
@media (max-width: 991.98px) {
  .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social {
    width: calc(50% - 15px); }
    .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social--inner, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social--inner {
      flex-direction: row;
      padding: 30px; } }
@media (max-width: 767.98px) {
  .__bt-social-mcn-style-1 .bt-social-mcn--list .bt-social, .bt-social-mcn-ss.bt-style-1 .bt-social-mcn--list .bt-social {
    width: 100%; } }

.__bt-social-mcn-style-2 .bt-social-mcn--list, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; }
  .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social {
    width: calc(33.33% - 20px); }
    .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--inner, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--inner {
      display: flex;
      gap: 24px;
      background: #fff;
      padding: 40px 45px;
      border-radius: 15px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25); }
    .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--icon, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--icon {
      position: relative;
      width: 70px;
      line-height: 0;
      z-index: 1; }
      .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--icon:after, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--icon:after {
        content: "";
        position: absolute;
        top: 8px;
        right: -8px;
        width: 64px;
        height: 64px;
        background: #f5f5f5;
        z-index: -1;
        border-radius: 1000px; }
      .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--icon img, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--icon img {
        max-width: 100%;
        width: auto;
        height: 52px; }
    .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--infor, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--infor {
      width: calc(100% - 94px); }
    .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--count, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--count {
      font-family: var(--e-global-typography-primary-font-family, "DM Sans");
      font-size: 36px;
      font-weight: 700;
      line-height: 125%;
      color: #222; }
    .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--title, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--title {
      line-height: 150%;
      margin-bottom: 15px; }
    .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social--link, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social--link {
      display: inline-block;
      font-family: var(--e-global-typography-primary-font-family, "DM Sans");
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      text-decoration: underline;
      color: var(--e-global-color-accent, #E96CA7); }
@media (max-width: 991.98px) {
  .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social {
    width: calc(50% - 15px); } }
@media (max-width: 767.98px) {
  .__bt-social-mcn-style-2 .bt-social-mcn--list .bt-social, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--list .bt-social {
    width: 100%; } }
@media (max-width: 519.98px) {
  .__bt-social-mcn-style-2 .bt-social-mcn--heading, .bt-social-mcn-ss.bt-style-2 .bt-social-mcn--heading {
    max-width: 430px; } }

.bt-social-mcn-ss.bt-style-1 {
  position: relative;
  background-color: #f7f7f7;
  padding: 80px 0 135px; }
  @media (max-width: 767.98px) {
    .bt-social-mcn-ss.bt-style-1 {
      padding: 60px 0 105px; } }
  .bt-social-mcn-ss.bt-style-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-ellen-qin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 3; }
  .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--content {
    position: relative;
    z-index: 5; }
  .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading {
    max-width: 560px;
    margin: 0 auto 40px; }
    .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading .bt-sub-text {
      text-transform: capitalize; }
    @media (max-width: 519.98px) {
      .bt-social-mcn-ss.bt-style-1 .bt-social-mcn-ss--heading {
        max-width: 430px; } }
.bt-social-mcn-ss.bt-style-2 {
  position: relative;
  background-color: var(--e-global-color-accent, #E96CA7);
  padding: 80px 0 135px; }
  @media (max-width: 767.98px) {
    .bt-social-mcn-ss.bt-style-2 {
      padding: 60px 0 105px; } }
  .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading {
    max-width: 560px;
    margin: 0 auto 40px; }
    .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-sub-text {
      text-transform: capitalize;
      color: #fff; }
    .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text {
      color: #fff; }
      .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-main-text span {
        color: inherit; }
    .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading .bt-head-text {
      color: #fff; }
    @media (max-width: 519.98px) {
      .bt-social-mcn-ss.bt-style-2 .bt-social-mcn-ss--heading {
        max-width: 430px; } }

.__bt-newsletter-form-style form, .__bt-newsletter-form-style-2 form {
  position: relative;
  text-align: left !important; }
  .__bt-newsletter-form-style form input.tnp-email, .__bt-newsletter-form-style-2 form input.tnp-email {
    width: 100%;
    border: none;
    background: #f7f4ef;
    padding: 15px 34px;
    margin: 0;
    max-width: 100%;
    margin-bottom: 19px; }
    @media (max-width: 767.98px) {
      .__bt-newsletter-form-style form input.tnp-email, .__bt-newsletter-form-style-2 form input.tnp-email {
        max-width: 100%;
        padding: 10px 35px; } }
  .__bt-newsletter-form-style form input.tnp-email, .__bt-newsletter-form-style-2 form input.tnp-email,
  .__bt-newsletter-form-style form input.tnp-email::placeholder,
  .__bt-newsletter-form-style-2 form input.tnp-email::placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #555;
    font-family: var(--e-global-typography-text-font-family, "DM Sans"); }
    @media (max-width: 767.98px) {
      .__bt-newsletter-form-style form input.tnp-email, .__bt-newsletter-form-style-2 form input.tnp-email,
      .__bt-newsletter-form-style form input.tnp-email::placeholder,
      .__bt-newsletter-form-style-2 form input.tnp-email::placeholder {
        font-size: 16px; } }
  .__bt-newsletter-form-style form::after, .__bt-newsletter-form-style-2 form::after {
    content: "";
    background-image: url("../images/icon-subcribe.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 105px;
    left: 38px; }
    @media (max-width: 767.98px) {
      .__bt-newsletter-form-style form::after, .__bt-newsletter-form-style-2 form::after {
        width: 20px;
        height: 20px;
        top: 94px;
        left: 30px; } }
  .__bt-newsletter-form-style form input.tnp-submit, .__bt-newsletter-form-style-2 form input.tnp-submit {
    width: unset;
    min-width: 216px;
    font-size: 18px;
    font-family: var(--e-global-typography-text-font-family, "DM Sans");
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 19px 37px 19px 75px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    border: 3px solid var(--e-global-color-accent, #E96CA7);
    background: var(--e-global-color-accent, #E96CA7);
    z-index: 1; }
    @media (max-width: 767.98px) {
      .__bt-newsletter-form-style form input.tnp-submit, .__bt-newsletter-form-style-2 form input.tnp-submit {
        padding: 16px 30px 15px 60px; } }
  .__bt-newsletter-form-style form .tnp-privacy-field label, .__bt-newsletter-form-style-2 form .tnp-privacy-field label {
    color: var(--e-global-color-text, #555);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    position: relative;
    padding-left: 30px; }
    .__bt-newsletter-form-style form .tnp-privacy-field label input, .__bt-newsletter-form-style-2 form .tnp-privacy-field label input {
      margin: 0;
      width: 20px;
      height: 20px;
      border: none;
      padding-block: 0;
      padding-inline: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: 2;
      opacity: 0; }
      .__bt-newsletter-form-style form .tnp-privacy-field label input:checked ~ .checkmark, .__bt-newsletter-form-style-2 form .tnp-privacy-field label input:checked ~ .checkmark {
        background-image: url("../images/active-checkbox.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 75%; }
    .__bt-newsletter-form-style form .tnp-privacy-field label .checkmark, .__bt-newsletter-form-style-2 form .tnp-privacy-field label .checkmark {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: #fff5f4;
      border: 1px solid #ccc; }
    .__bt-newsletter-form-style form .tnp-privacy-field label a, .__bt-newsletter-form-style-2 form .tnp-privacy-field label a {
      color: var(--e-global-color-text, #555); }
      .__bt-newsletter-form-style form .tnp-privacy-field label a:hover, .__bt-newsletter-form-style-2 form .tnp-privacy-field label a:hover {
        color: var(--e-global-color-text, #555); }

.__bt-newsletter-form-style-2 form::before, .__bt-newsletter-form-style-2 form::after {
  content: " ";
  display: inline-block;
  position: absolute; }
.__bt-newsletter-form-style-2 form::before {
  width: 9px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 8px;
  right: 30px;
  z-index: 9; }
.__bt-newsletter-form-style-2 form::after {
  width: 45px;
  height: 48px;
  background-color: var(--e-global-color-secondary, #111);
  bottom: 8px;
  right: 28px;
  bottom: -9px;
  right: 13px;
  border-radius: 10px;
  z-index: 8; }
.__bt-newsletter-form-style-2 form input.tnp-email, .__bt-newsletter-form-style-2 form input.tnp-email::placeholder {
  font-size: 16px;
  line-height: normal; }
.__bt-newsletter-form-style-2 form input.tnp-email {
  height: 53px;
  padding: 16px 67px 16px 58px;
  max-width: 100%;
  background-position: center left 26px; }
.__bt-newsletter-form-style-2 form input.tnp-submit {
  font-size: 0;
  width: 45px;
  height: 48px;
  border-radius: 10px;
  min-width: 45px;
  padding: 0;
  top: inherit;
  transform: translateY(0);
  bottom: -9px;
  right: 13px;
  background-color: transparent;
  z-index: 10; }

/*
* Import
*/
.widget:not(:last-child) {
  margin-bottom: 30px; }
.widget .wp-block-group {
  margin: 0;
  background: #f7f4ef;
  padding: 40px; }
  @media (max-width: 1199.98px) and (min-width: 991.98px) {
    .widget .wp-block-group {
      padding: 30px 15px; } }
  @media (max-width: 519.98px) {
    .widget .wp-block-group {
      padding: 30px 15px; } }
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
  padding: 0; }
  .widget ul li,
  .widget ol li {
    margin-bottom: 12px; }
    .widget ul li:last-child,
    .widget ol li:last-child {
      margin-bottom: 0; }
.widget ul ul {
  margin: 12px 0 0; }
.widget ul.wp-block-archives li,
.widget ul.wp-block-categories li,
.widget ul.wp-block-page-list li, .widget.widget_archive ul li, .widget.widget_categories ul li, .widget.widget_pages ul li, .widget.widget_meta ul li, .widget.widget_nav_menu ul li, .widget.widget_recent_comments ul li, .widget.widget_recent_entries ul li {
  position: relative;
  padding-left: 20px; }
  .widget ul.wp-block-archives li:before,
  .widget ul.wp-block-categories li:before,
  .widget ul.wp-block-page-list li:before, .widget.widget_archive ul li:before, .widget.widget_categories ul li:before, .widget.widget_pages ul li:before, .widget.widget_meta ul li:before, .widget.widget_nav_menu ul li:before, .widget.widget_recent_comments ul li:before, .widget.widget_recent_entries ul li:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 12px;
    height: 2px;
    background: var(--e-global-color-accent, #E96CA7); }
.widget .wp-block-calendar caption,
.widget .wp-block-calendar table,
.widget .calendar_wrap caption,
.widget .calendar_wrap table {
  margin-bottom: 4px; }
.widget .wp-block-latest-comments__comment {
  position: relative;
  margin-bottom: 20px; }
  .widget .wp-block-latest-comments__comment:last-child {
    margin-bottom: 0; }
  .widget .wp-block-latest-comments__comment .avatar {
    position: absolute;
    top: 8px;
    left: 0; }
.widget .wp-block-latest-comments__comment-meta a {
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  color: var(--e-global-color-primary, #222); }
  .widget .wp-block-latest-comments__comment-meta a:hover {
    color: var(--e-global-color-accent, #E96CA7); }
.widget .wp-block-latest-comments__comment-excerpt {
  margin-top: 8px; }
  .widget .wp-block-latest-comments__comment-excerpt > * {
    margin: 0 0 8px; }
    .widget .wp-block-latest-comments__comment-excerpt > *:last-child {
      margin-bottom: 0; }
.widget .wp-block-latest-posts li {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  margin-bottom: 20px; }
  .widget .wp-block-latest-posts li:last-child {
    margin-bottom: 0; }
.widget .wp-block-latest-posts__post-title {
  width: 100%;
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  color: var(--e-global-color-primary, #222); }
  .widget .wp-block-latest-posts__post-title:hover {
    color: var(--e-global-color-accent, #E96CA7); }
.widget .wp-block-latest-posts__post-excerpt {
  width: 100%;
  margin: 0; }
.widget .wp-block-rss li {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  margin-bottom: 20px; }
  .widget .wp-block-rss li:last-child {
    margin-bottom: 0; }
.widget .wp-block-rss__item-title {
  width: 100%;
  font-family: var(--e-global-typography-primary-font-family, "DM Sans"); }
  .widget .wp-block-rss__item-title a {
    color: var(--e-global-color-primary, #222); }
    .widget .wp-block-rss__item-title a:hover {
      color: var(--e-global-color-accent, #E96CA7); }
.widget .wp-block-rss__item-excerpt {
  width: 100%; }
.widget.widget_rss ul li {
  margin-bottom: 20px; }
  .widget.widget_rss ul li:last-child {
    margin-bottom: 0; }
  .widget.widget_rss ul li a {
    font-family: var(--e-global-typography-primary-font-family, "DM Sans");
    color: var(--e-global-color-primary, #222); }
    .widget.widget_rss ul li a:hover {
      color: var(--e-global-color-accent, #E96CA7); }
  .widget.widget_rss ul li .rss-date,
  .widget.widget_rss ul li cite {
    display: block;
    font-size: 0.8125em; }
.widget .wp-block-loginout a {
  font-family: var(--e-global-typography-primary-font-family, "DM Sans");
  color: var(--e-global-color-primary, #222); }
  .widget .wp-block-loginout a:hover {
    color: var(--e-global-color-accent, #E96CA7); }
.widget .wp-block-search__button {
  padding: 16px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px; }
.widget .wp-block-search__input {
  width: 100%;
  padding: 18px 24px;
  border-radius: 0;
  font-family: var(--e-global-typography-primary-font-family, "DM Sans"); }
.widget .wp-block-search__icon-button .wp-block-search__input {
  padding-right: 65px !important; }
.widget .wp-block-search__no-button .wp-block-search__inside-wrapper {
  width: 100%;
  position: relative; }
.widget .wp-block-search__button-only .wp-block-search__inside-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px; }
.widget .wp-block-search__button-only .wp-block-search__button svg {
  fill: currentColor; }
.widget .wp-block-search__button-outside .wp-block-search__inside-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px; }
.widget .wp-block-search__button-outside .wp-block-search__button svg {
  fill: currentColor; }
.widget .wp-block-search__button-inside .wp-block-search__inside-wrapper {
  position: relative;
  padding: 0; }
.widget .wp-block-search__button-inside .wp-block-search__input {
  padding-right: 100px; }
.widget .wp-block-search__button-inside .wp-block-search__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: #fff;
  background: var(--e-global-color-accent, #E96CA7);
  margin: 0; }
  .widget .wp-block-search__button-inside .wp-block-search__button svg {
    fill: currentColor; }
.widget .search-form {
  position: relative; }
  .widget .search-form label {
    margin: 0; }
  .widget .search-form input[type="search"] {
    width: 100%;
    padding-right: 110px; }
  .widget .search-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 15px 20px;
    border-radius: 0 15px 15px 0; }
.widget .wp-block-tag-cloud {
  margin: 0; }
  .widget .wp-block-tag-cloud a {
    margin: 0; }
.widget .wp-block-tag-cloud,
.widget .tagcloud {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; }
  .widget .wp-block-tag-cloud a,
  .widget .tagcloud a {
    display: inline-block;
    font-family: var(--e-global-typography-primary-font-family, "DM Sans");
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    color: var(--e-global-color-primary, #222);
    background: #f5f5f5;
    padding: 4px 10px;
    border: 1px solid #c7c7c7;
    border-radius: 8px; }
    .widget .wp-block-tag-cloud a:hover,
    .widget .tagcloud a:hover {
      color: #ffffff;
      background: var(--e-global-color-accent, #E96CA7);
      border-color: var(--e-global-color-accent, #E96CA7); }

.bt-block-recent-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0; }
  .bt-block-recent-posts .bt-post a {
    display: flex;
    gap: 15px;
    color: inherit; }
  .bt-block-recent-posts .bt-post .bt-cover-image {
    padding-bottom: 100%; }
  .bt-block-recent-posts .bt-post--thumbnail {
    width: 100px; }
  .bt-block-recent-posts .bt-post--infor {
    width: calc(100% - 115px); }
  .bt-block-recent-posts .bt-post--date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 150%;
    color: var(--e-global-color-accent, #E96CA7);
    margin-bottom: 8px;
    text-transform: uppercase; }
  .bt-block-recent-posts .bt-post--title {
    word-break: break-word;
    margin: 0 0 11px;
    color: var(--e-global-color-primary, #222);
    font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
    font-size: 20px;
    font-weight: 500; }
  .bt-block-recent-posts .bt-post--author {
    font-size: 16px;
    line-height: 150%;
    color: var(--e-global-color-text, #555);
    display: flex;
    gap: 6px;
    align-items: center; }

.bt-block-make-appointment {
  padding: 61px 40px 52px;
  background-color: var(--e-global-color-accent, #e96ca7);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1199.98px) and (min-width: 991.98px) {
    .bt-block-make-appointment {
      padding: 30px 15px; } }
  @media (max-width: 519.98px) {
    .bt-block-make-appointment {
      padding: 40px 15px; } }
  .bt-block-make-appointment .bt-make-appointment--sub-head {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase; }
  .bt-block-make-appointment .bt-make-appointment--head {
    color: #fff;
    font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 9px 0 18px 0; }
  .bt-block-make-appointment .bt-make-appointment--desc {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 40px; }
  .bt-block-make-appointment .bt-make-appointment--button {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 3px solid #fff;
    display: block;
    padding: 18px;
    text-align: center; }

.bt-block-popular-category-posts .bt-popular-category-posts {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding-top: 10px; }
  .bt-block-popular-category-posts .bt-popular-category-posts--item {
    margin-bottom: 0; }
    .bt-block-popular-category-posts .bt-popular-category-posts--item a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--e-global-color-primary, #222);
      font-family: var(--e-global-typography-secondary-font-family, "Cormorant");
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.3; }
      .bt-block-popular-category-posts .bt-popular-category-posts--item a:hover {
        color: var(--e-global-color-accent, #E96CA7); }

.bt-block-instagram-posts {
  padding: 0; }

/*# sourceMappingURL=admin-main.css.map */
